[2017-06-09 10:16] mistakenot opened #1 ".NET Core Support"
It would be great to see this running on .NET Core. What do you think would be the main challenges in getting this working?

I'm learning F# myself at the moment and looking for a project to contribute to. If it is within my capabilities I'd like to help.

[2017-06-09 15:53] Zaid-Ajaj commented on #1
@mistakenot Running on .NET Core is a matter of compiling the code to target netcoreapp1.6 which I wasn't able to do (or rather did not have much time to dig into the issue).

The problem I came across was that the dotnet core compiler wasn't happy with using `dynamic` and System.Reflection in the `Fable.Remoting.Reflection` project, this is a csharp project that `Fable.Remoting.Suave` depends on.

[2017-06-09 19:29] Zaid-Ajaj commented on #1
Never mind, it actually works on .NET Core:
![suave-remoting](https://user-images.githubusercontent.com/13316248/26991454-a4fa2fd2-4d5a-11e7-996c-c06ac2423c91.png)

[2017-06-09 19:29] #1 closed

[2017-06-14 08:28] mistakenot commented on #1
Cool, I'll take a look at a sample project.

[2017-09-08 13:44] MangelMaxime opened #2 "Support netstandard2.0"
Would it be possible to support netstandard2.0 ?

Seems like it' support netcore2.0, but I don't what this version is for.

[2017-09-08 13:47] MangelMaxime commented on #2
Hum before investigating this issue I think I understand my mistake.

[2017-09-08 14:27] #2 closed

[2017-09-08 14:55] Zaid-Ajaj commented on #2
Hello @MangelMaxime, sorry didn't have time to update the README.md yet. The library is now actually Work in progress and I am porting everything to netcore2.0 and testing it as well, but I was blocked at [this issue](https://github.com/dotnet/corefx/issues/23387). So I am waiting for it to be merged and then I can continue

[2017-09-08 15:00] MangelMaxime commented on #2
Hello @Zaid-Ajaj no problem, I had another problem in my project which prevent me to use Fable.Remoting for now. (Nothing to due with Fable.Remoting itself^^).

One, day I will be able to work with it :D or perhaps add support for another backend when I have the time.

[2017-09-08 15:06] Zaid-Ajaj commented on #2
@MangelMaxime I look forward to it :smile:

[2017-10-16 13:45] Zaid-Ajaj commented on #2
@MangelMaxime After countless tries, I finally found a workaround for fixing reflection code and Fable.Remoting is up and running on netstandard2.0 for Suave :tada: :tada: :tada: (so happy!)

I made sure all tests pass and added an integration tests project.

I just published latest versions Nuget (probably not indexed yet):
- Fable.Remoting.Suave 1.2.1
- Fable.Remoting.Client 1.2.0

Please play a

[2017-10-16 14:09] MangelMaxime commented on #2
Awesome :) 👏

If i have again a project which can use it, I will not miss to try it :)

[2017-12-12 21:54] pkese opened #3 "WebSocket support"
Please.

[2017-12-13 20:44] pkese commented on #3
I did, thanks.

In the end I used almost out-of-the box https://github.com/ncthbrt/Fable.Websockets.Elmish implementation on client and somewhat modified one on the server. On server I've replaced their proposed state machine with a classic Elmish, so that I can use the same stack (and mindset) on both client and server.

I'm nevertheless looking forward to - if you ever manage to create your own

[2017-12-13 21:26] Zaid-Ajaj commented on #3
Thanks for the kind words! I will keep this issue open and will let you know if I make progress on the feature :smile:

[2017-12-26 05:03] vasily-kirichenko opened #4 "Add Giraffe server side examples into readme.md"
Please :)

[2017-12-26 10:25] vasily-kirichenko opened #5 "How to access HttpContext in the Giraffe wrapper?"
I have some handlers that need to access `HttpContext`, like this:
[code]
Is it possible to port it?

[2017-12-26 15:22] Zaid-Ajaj commented on #5
Unfortunately, as of now, it not possible to access the HttpContext. This is by design and it is the whole idea of this library: Abstract Http and only think in terms of types and pure functions. Allowing the user to read HttpContext would make for a leaky abstraction. Now I only read data from incoming requests using the bare minimum of the request body and nothing else.

Your problem is somethin

[2017-12-26 15:33] Zaid-Ajaj commented on #5
Now that I am thinking more on the subject, here is another solution that would make user data available by your functions using partial application:

[code]
Now you only need to pass the user from previous handler to the this *dependent* handler. Not sure how this would work Giraffe but I can take a look

[2017-12-26 18:26] Zaid-Ajaj commented on #4
Will surely do :smile:

[2018-01-01 15:47] Zaid-Ajaj commented on #5
I assume this question is answered so I will close this issue for now.

[2018-01-01 15:47] #5 closed

[2018-01-02 20:36] Zaid-Ajaj opened #6 "Provide a way on working with exceptions handling"
On the server, global handler for
 - Interception
 - Decoration

On the client, global handler for
 - Intercepting server exceptions
 - Interception user-defined errors

[2018-01-29 23:55] blair55 opened #7 "Should a request sent from client to server include browser cookies?"
I'm observing that a Fable.Remoting RPC POST request to the (Suave) server does not include the Cookie header, so domain cookie values are not sent. This makes session management difficult.

I am wondering is this by design? Or perhaps an XMLHttpRequest restriction? I had thought you might not have to cater for this concept in the client lib at all, as the cookie header would be included automatic

[2018-01-30 11:09] Zaid-Ajaj commented on #7
Hello @blair55,

Indeed, this library only uses the request body data for communication.

Not really, although it is recommended you use RPC for user authentication/session management with stateless tokens, there should be no restriction to use other machanisms like cookies assuming you are using this library as part of a bigger application.

AFAIK the cookies should be sent along with the POST re

[2018-01-30 17:06] blair55 commented on #7
Amazing, what a great response! I'm glad you could verify my thoughts.

Do you have an example of using stateless tokens with Fable.Remoting? I think I will stick with cookies if you can make it available, but would be good to appreciate the alternative.

Great library btw!
Thanks

[2018-01-30 20:59] Zaid-Ajaj commented on #7
Thank you for your kind words :smile:

I now have published a new version (1.4.0) of the Fable.Remoting.Client library where the browser cookies are included in the RPC request using the `Cookie` header with value `document.cookie`. I verified that it works on my integration tests project:

![screenshot from 2018-01-30 21-35-56](https://user-images.githubusercontent.com/13316248/35590768-18717a18-

[2018-01-30 22:26] blair55 commented on #7
Perfect! That's having the effect of sending the document cookie as expected.

Thanks for closing so quickly. Great work!

[2018-01-30 23:41] Zaid-Ajaj commented on #7
Great, then this is resolved! I will close. Just let me know if you come across any issue :smile:

[2018-01-30 23:41] #7 closed

[2018-03-07 19:31] panesofglass opened #16 "Is it possible to receive request headers and/or send response headers?"
I set status codes and headers in accordance with the RFCs all the time. For example, if I send back a `None`, I also often send back a `404 Not Found`. After a `POST` I typically send back a `201 Created` with a `Location` header if the result was a new resource; otherwise often a `204 No Content`. Many of our responses include cache control headers, including `ETag` or `Last-Modified`, and the s

[2018-03-07 19:40] Nhowka commented on #16
Do you have some use case in mind?

[2018-03-07 19:55] panesofglass commented on #16
@Nhowka I added a description with use cases above.

[2018-03-07 20:13] Nhowka commented on #16
Do you expect to use the client alone, without the server? Because most of these uses can be encoded into the model. Here (https://github.com/Zaid-Ajaj/Fable.Remoting/pull/8#issuecomment-366115586) is an example of reading  a information that the client has sent, but I could include a more generic helper to set any header.

[2018-03-07 22:14] Zaid-Ajaj commented on #16
@panesofglass Unfortunately, Fable.Remoting doesn't support `Context` passing between the handlers, it is possible though to read context data from the request pipeline, passing the data to the remoting handler and then inspecting the result to decide what headers to include. But honestly, if you are going that far to make it your app work in accordance with RFC, you are better off not using Fable

[2018-03-07 22:16] Zaid-Ajaj opened #17 "Sending mutiple arguments fails when the client function is partially applied"
Related https://github.com/fable-elmish/elmish/issues/142

[2018-03-07 22:25] Nhowka commented on #17
I have a [fix on my branch](https://github.com/Nhowka/Fable.Remoting/blob/CEBasedAPI/Fable.Remoting.Client/Proxy.fs#L181-L218) with the API changes. It's ready to merge and should be easy to migrate. I tried not to break existing code but I'm not sure if I succeeded.

Also it should make it easier to support other servers as the parsing part is shared but the actual request handling is made inside

[2018-03-07 22:53] panesofglass commented on #16
@Zaid-Ajaj thanks for the response. Would you be open to me exploring something like this? I really like how you specify the server-side interfaces and generate client, so I'd like to use this rather than creating something new yet similar.

[2018-03-07 23:03] Nhowka commented on #16
@panesofglass I'm curious. Would something change in behaviour or only the headers would be affected?

[2018-03-07 23:10] panesofglass commented on #16
@Nhowka I think it should only affect headers, but I need to learn more about how things work. In [gluon](http://www.tachyus.com/gluon), we use attributes and, by reflection, can inject a `Context` type that can be used to inspect and manipulate headers. I would want to try to do something similar. I think it's possible given reflection is also used when calling the handlers.

[2018-03-08 00:25] panesofglass commented on #16
@Nhowka is the CEBasedAPI branch the future of where things are going? If so, then I'll use it. It should make it simpler to expose custom operations to work with things like status codes and headers.

[2018-03-08 00:33] Nhowka commented on #16
@panesofglass at the moment it's just a experiment. Things were fine until I had some laziness related requirements, so most of the stuff may not even be needed in the real world. Feedback is welcome!

[2018-03-08 00:35] panesofglass commented on #16
@Nhowka this gives me additional ideas now that I also see everything is a `POST`. :) I may make a `resource` CE after figuring out headers. It certainly looks easier to expose status code and header interactions.

[2018-03-08 02:42] panesofglass commented on #16
After further investigation, I think the changes I wish to make go against the spirit of the project. I’ll try something separate first, then we can consider merging if similarities remain.

[2018-03-08 02:42] #16 closed

[2018-03-08 02:49] Zaid-Ajaj commented on #16
Ofcourse, as long as it the default way of *using* the library stays as simple as it is now.

Supporting all of Http posibilities wasn't really on my todo list but it seems that many users still want the library to be fully customizable (IMHO, this misses the whole point of this library).

@Nhowka's work on the CE based API looks really nice and makes hiding implementation details much easier, I l

[2018-03-08 02:55] Zaid-Ajaj commented on #17
First of all, if you think it is ready to merge, just merge it, you have write-access too on this repo as a collaborator :smile:. I will test it again my self locally anyways but you can also simply run the integration tests for Suave or Giraffe
[code]
Btw, we need more (integration) tests for Saturn as well and many many unit tests for multi-arg remote functions

[2018-03-08 03:04] Zaid-Ajaj opened #18 "Add proper documentation site"
document everything

[2018-03-08 03:05] Zaid-Ajaj opened #19 "Add Fable.Remoting.OWIN"
Nice to have

[2018-03-08 03:08] Zaid-Ajaj opened #20 "Add Fable.Remoting.Nancy"
Will investigate this myself, dependency injection becomes straight-forward, just like [Cable](https://github.com/Zaid-Ajaj/Cable)

[2018-03-08 03:23] #17 closed, assigned to nobody

[2018-03-08 04:11] Nhowka commented on #18
What if we use the wiki from GitHub? Could be easier to maintain.

[2018-03-08 04:56] Zaid-Ajaj commented on #18
I was actually thinking of using the awesomeness of [Gitbook](https://github.com/Zaid-Ajaj/gitbook-template) :smile:

[2018-03-08 19:28] Nhowka commented on #16
I'm working on another solution. Custom handlers of format `Context -> ResponseOverride option`. They would be called when handling the request and if they return anything, it will use the returned value instead of the default. That way the usage is kept portable and there is no need for having the context as one of the parameters.

[2018-03-10 18:11] Zaid-Ajaj commented on #16
Usually the context provides access to both reading from the request and writing to the response, if you only have data from the request, then `RequestContext` should probably be just `Request`. I don't think you need to define your own `RequestContext`, just use the request object provided for the specific server framework as it will contain all the data the user needs for overriding the response

[2018-03-10 20:39] Nhowka commented on #16
I wanted to do something portable, so I was extracting the data from each to a common record. Probably there's less stuff to define or override on the client. Couldn't think on anything besides headers.

[2018-03-10 21:26] Zaid-Ajaj commented on #4
README.md is updated to the latest API

[2018-03-10 21:26] #4 closed

[2018-03-10 21:31] Zaid-Ajaj commented on #16
@Nhowka That makes for cleaner solution indeed. I updated some unit and integrations tests and published the changes to Nuget. I must say, I really really like the new API, clean and uniform across the packages :smile:

I think you need to rebase your work to latest master, there shouldn't be any conflict because I only modified test projects. Sorry about that, I shouldn't be committing to master

[2018-03-10 22:21] Nhowka commented on #16
@Zaid-Ajaj Glad you liked it! Hopefully new features won't get in the way in the vanilla usage. I'll try my best to always keep everything complex optional, so we can make everyone satisfied! 😙

[2018-03-11 16:13] theimowski opened #23 "Fable.Remoting.Json 2.0.0 is not released"
I tried to add `Fable.Remoting.Giraffe` 2.0 to SAFE-template, but the dependency on `Fable.Remoting.Json 2.0` is unsatisfied:

[code]

[2018-03-11 18:05] Zaid-Ajaj commented on #23
Hmm it looks like the Json package was bumped to version 2.0 along the previous commits :sweat_smile: I published it now, should be available in a couple of hours when Nuget indexes it

[2018-03-11 18:18] Nhowka commented on #23
Sorry about that! 😅
As the client and server couldn't talk with mismatching versions, I ended upgrading everything even what was not needed.

[2018-03-12 21:30] theimowski commented on #23
Hmm now the same story is with `Fable.Remoting.Reflection` :

[code]

[2018-03-12 22:04] Zaid-Ajaj commented on #23
Bumped `Fable.Remoting.Reflection` to 3.0 and published it, everything should now work fine (when nuget finishes indexing). @theimowski Thank you for reporting these issues! I guess I will a couple of test projects that use the Nuget packages to avoid such problems in the future

[2018-03-13 21:45] #23 closed

[2018-03-14 18:16] Zaid-Ajaj opened #25 "Todo - more tests / code clean up"
- [x] Saturn integration tests
- [ ] Test projects using the Nuget package
- [ ] Unit tests
  - [x] Partially applied proxy functions
  - [ ] Partially applied proxy functions using complex types
  - [ ] Edge-cases for primitive types (NaN, infinity, etc)

[2018-03-14 18:21] Zaid-Ajaj opened #26 "Simplify logger output"
Logger logs too many arguments with `null` values, doesn't affect execution but should be cleaned up.

Simplify type name output, for example:
[code]
Should be
[code]

[2018-03-20 18:12] Zaid-Ajaj commented on #18
Fixed: https://zaid-ajaj.github.io/Fable.Remoting/

[2018-03-20 18:12] #18 closed

[2018-03-20 18:41] StachuDotNet commented on #18
Super awesome! Great job :)

[2018-03-24 02:13] #26 closed

[2018-03-24 02:14] Zaid-Ajaj commented on #26
Simplified results:
[code]

[2018-03-25 20:44] theimowski opened #28 "Compilation warnings for Client"
After upgrading Fable.Remoting.Client to  2.1 I get a few warnings on every compilation.
It complains about some obsolete calls used in the internals of the library:

[code]

[2018-03-25 20:58] Zaid-Ajaj commented on #28
That's right, you will get these warnings if you are using the old API's of 1.x like the following:
[code]
Since 2.x we are using unified API's for both client and server:
[code]

Is this an issue? I can remove the warnings but they are there to encourage the migration to 2.x

[2018-03-26 05:42] theimowski commented on #28
I'll double-check in the evening, but I think I also got the warnings when using the new CE API

[2018-03-26 12:34] Nhowka commented on #28
Could we use a `#nowarn` directive? Not sure if it would work as it doesn't give a code... 🤔

But yeah, it's not a fault of using the old or new api, it's because of some methods that shouldn't be used inside the computation expression that exists to keep old clients with the same behavior. Is there another way to hide a method from intellisense?

[2018-03-26 19:17] theimowski commented on #28
yep, I get the same warnings no matter if using `Proxy.create<IVotingProtocol>` or `Proxy.remoting<IVotingProtocol> { () } `

[2018-03-26 19:32] Zaid-Ajaj commented on #28
Hmm interesting, I think we can just remove the obsolete warnings / `use_some_*` methods and just let users have both appraoches, what do you think @Nhowka?

[2018-03-26 19:39] Nhowka commented on #28
Well, I think that I can remove these methods entirely without changing the behavior. That would be the best of both worlds, no more backward specific internal methods, and no more warnings.

[2018-03-26 19:52] Zaid-Ajaj commented on #28
+1 for removing these methods, do you want to take this on? if not, just assign me to the issue and I will do it :wink:

[2018-03-26 19:58] Nhowka commented on #28
Methods removed, but honestly didn't test it. I'll wait CI before merging and if it's ok, I'll do the same for the server-side.

[2018-03-26 20:24] Nhowka commented on #28
Calling the methods directly was a good solution. No more warnings and hopefully no changes on the previous behavior.

[2018-03-26 20:27] Zaid-Ajaj commented on #28
Thanks a lot, the code looks good to me, I will run the integration tests locally and publish if everything's working right :smile:

[2018-03-26 20:48] Zaid-Ajaj commented on #28
@theimowski We removed the warnings!
The libraries are published

[2018-03-27 19:17] theimowski commented on #28
Thanks, no warnings now ;)

[2018-03-28 16:25] Zaid-Ajaj opened #32 "Async<'T> does not send a request in production mode"
Remoting functions of type `Async<'T>` don't seem to send the request to server when serving the generated javascript bundle (in production mode) from the same server normally rather than from `webpack-dev-server`.

I always ran integration tests in `webpack-dev-server` but production builds seem to affect the behaviour. @Nhowka can you reproduce this? If so, this could be a Fable problem as well

[2018-03-28 18:04] Nhowka commented on #32
Found the problem. When in production, the name in minified, so it's not "Async" anymore... I'll try to find a workaround.
https://github.com/Zaid-Ajaj/Fable.Remoting/blob/master/Fable.Remoting.Client/Proxy.fs#L94

[2018-03-28 18:14] #32 closed

[2018-03-28 18:15] Nhowka commented on #32
This one worked on my local tests

[2018-03-28 18:53] Zaid-Ajaj commented on #32
Wow you are fast :heart: :heart: I had no idea how to fix this!!! I just ran the integration tests again and tests passed!

[2018-03-28 19:09] Nhowka commented on #32
When I was checking the properties of the proxy I noticed that the `pureAsync` wasn't there instead of calling a just calling non working function. The workaround was a really lucky guess, I honestly had no hope it would work! 😅

But now it's as it should be, hardcoding the string was bad judgement.

[2018-03-28 19:37] Zaid-Ajaj commented on #32
That guess was spot on! :smile: thanks agian :pray:

[2018-03-28 20:07] Nhowka commented on #20
Have you got into it? I am not sure that the abstract class from the server is generic enough for future versions... 🤔

[2018-03-28 20:26] Zaid-Ajaj commented on #20
Not yet, but I am considering to exclude Nancy from the list for now, becuase it is really a C# library, I think supporting just OWIN should be enough. Don't worry about the abstract class, if need be, a specialized version for Nancy or other should do it :wink:

[2018-03-29 02:41] Zaid-Ajaj opened #34 "Make HttpContext available from ErrorHandler"
Instead of
[code]
I think it would be much nicer to have
[code]
There are many reasons why more context information is needed, for example, the `ErrorHandler` is where most people put their logging logic when things go wrong. When that happens, being able to trace back the request using the context is extremely convenient.

@Nhowka What do you think?

Related:
 - [Suave.SerilogExtensions](https://

[2018-03-29 02:47] Nhowka commented on #34
I was using the Serilog extension when investigating the async bug. I think that is a great idea, but it would be a breaking change code-wise. Are we ready for it? 😋

[2018-03-29 02:56] Zaid-Ajaj commented on #34
We could add the `HttpContext` as a field to `RouteInfo` then we won't be breaking anything, so that's another option

[2018-03-29 03:07] Nhowka commented on #34
Perfect! That way it's safe and nobody will be sad! 😙

[2018-03-29 05:18] #34 closed

[2018-04-15 22:42] pkese opened #41 "Paket versions mismatch"
I'm having issues with installing `Fable.Remoting.Suave` alongside `Suave`:

    Paket failed with
    -> There was a version conflict during package resolution.
         Resolved packages:
          - Fable.Remoting.Suave 2.6.0
         Conflict detected:
          - Suave 2.3.0-beta3 requested package FSharp.Core: >= 4.0.0.1 < 4.0.1*
          - Fable.Remoting.Suave 2.6.0 requested package FShar

[2018-04-15 22:53] Zaid-Ajaj commented on #41
Hi @pkese it seems that Suave is being pulled down for net46 instead of the netstandard2.0 target. One solution I can think of is to pin the version of Suave in paket.dependencies `nuget Suave ~> 2.2.1` where `2.2.1` won't have that `>= 4.0.0.1 < 4.0.1` constraint. Another solution (I think) is to force the dependency group where Suave lives (in paket.dependencies) to use netstandard2.0, although

[2018-04-15 22:54] pkese commented on #41
Uh, sorry. It is `Suave` that is limiting the upper version.
Closing the issue.

[2018-04-15 22:54] #41 closed

[2018-04-15 22:58] pkese commented on #41
:)
We both replied at the same time.

Thanks for the hints. I'll try them.

[2018-04-15 23:00] Zaid-Ajaj commented on #41
No problem :smile: Happy to help!

[2018-05-05 04:17] #25 closed

[2018-05-29 12:55] Zaid-Ajaj commented on #3
Closing because @Nhowka already doing awesome work on [Elmish.Remoting](https://github.com/Nhowka/Elmish.Remoting) that solves the websocket remoting channels

[2018-05-29 12:55] #3 closed

[2018-05-29 17:35] csmager opened #47 "Stack overflow when deserialising int64"
This is a remarkably simple repro, but it took a *long* time to track down. I'd set up some endpoints and one kept killing the server process with `StackOverflowException` with no hint of what or where it was failing.

It turns out (possibly a separate issue) that the client will serialise a long / int64 like this:
[code]
And deserialising this using `Fable.Remoting.Json.FableJsonConverter` will r

[2018-05-29 19:48] Zaid-Ajaj commented on #47
@csmager  thanks a lot for tracking this down, it seems to be that the custom converter needs an update to match what Fable is doing at the moment.

BTW are you using Fable 2.0 or Fable 1.x ?

I am trying to reproduce the issue with tests in [this PR](https://github.com/Zaid-Ajaj/Fable.Remoting/pull/48), I was unable to run the integration tests on my new windows box so I will let travis handle th

[2018-05-29 20:32] csmager commented on #47
I'm using Fable 1.x. I too struggled to get the integration tests to run - either on Windows or macOS.

The specific trigger for this was actually a single case union with a long - something like
[code]
It was only later I discovered that the deserialisation results in a stack overflow for any conversion to int64 with invalid / unsupported content. It may be the javascript end only creates the wro

[2018-05-29 20:54] Zaid-Ajaj commented on #47
Yes, I finally broke the tests :smile:

All these tests run without issue:
[code]
but after the one with the single union case, I get the stackoverflow exception:
[code]
Now I have something to work with

[2018-05-29 20:56] Zaid-Ajaj commented on #47
Can you please elaborate on what errors you got on both machines?

Do you have a concrete example of such JSON so that I can add a test for it?

[2018-05-29 21:08] csmager commented on #47
Yep, I'll run these again tomorrow and report back.

This was essentially what was in my initial post, though it seems we've now narrowed the 'circumstances' to at least include a single case DU. When serialising that I would see this sort of representation in the browser dev tools for the failed request:
[code]
And when you combine that with the bug in the deserialiser it means you get a stack ov

[2018-05-29 21:16] Nhowka commented on #47
Could we use the `Fable.JsonConverter` package and if we need any special feature we override the relevant methods? Or that can cause some assembly mismatches?

[2018-05-29 21:22] Zaid-Ajaj commented on #47
Just updating the code should be fine, the problem here seems to with the updated `Fable.JsonConverter` itself. It still cannot deserialize `long` in a single du, i.e. the test fails:
[code]
I will investigate this even more at the converter level, if converter round trip tests pass, then the problem must be with the serialization on the client

[2018-05-29 22:10] Zaid-Ajaj commented on #47
I think we can confirm this is a Fable issue now (after updating the converter) not serializing `int64` inside DU's correctly where the following code fails

[code]
error:
[code]
On the server I get the following error when I try to deserialize the data:
[code]

[2018-05-30 06:46] csmager commented on #47
That makes sense. Fixing the converter here at least makes it easier to see where the problem is. Hopefully the related Fable client-side issue can be fixed at some point.

[2018-05-30 07:49] csmager commented on #47
Updating to the [latest](https://github.com/mozilla/geckodriver/releases) `geckodriver`/ `geckodriver.exe`fixes it for both.

[2018-05-30 08:05] Zaid-Ajaj commented on #47
@csmager Thanks for the repro! In the [Long serialization](https://github.com/Zaid-Ajaj/Fable.Remoting/pull/48) PR, I did both things too, I removed the node-sass dependency (I have no idea why it was there :joy:) and updated the latest windows geckodriver.

[2018-06-02 03:16] Zaid-Ajaj commented on #47
Fixed and merged. published nuget packages should be available soon, can you please update and confirm the that it is fixed?

[2018-06-05 14:50] csmager commented on #47
@Zaid-Ajaj sorry it's taken a few days, I've only just got back to what I was working on previously. I reverted the workaround I had and it all seems to work now. Thanks!

[2018-06-05 14:54] Zaid-Ajaj commented on #47
Awesome! thanks for the reporting back :smile: I will close this issue, please let me know if it persists in some other weird edge case

[2018-06-05 14:54] #47 closed

[2018-06-27 06:13] Zaid-Ajaj opened #50 "[Discussion] Removing the contextual remoting handler"
# TL;DR
Remove the ability to create contextual remoting protocols to prevent people from writing untestable/hard to unit test code.
# Description
We have added the ability to access and read http context data to make Fable.Remoting more flexible, the way we do it is by defining generic protocols, an implementation of the protocol gives a concrete  HttpContext as the type parameter, this is explai

[2018-06-27 12:06] Nhowka commented on #50
Never used the feature, so I won't miss it. I was planning to clean the OO/abstract class from the server, so that change gives a good opportunity for doing it.

[2018-06-27 13:35] Zaid-Ajaj commented on #50
@Nhowka I don't use that feature either, always used the alternative approach (for example when I needed to access the context to get the contextual logger when using Suave.SerilogExtensions) but I was wondering how the others are using it and whether it is a good approach (to me, as explained above, that is not the case because of testability)

That's great, I was thinking the same, also wanted t

[2018-06-28 08:30] irium commented on #50
I use `Context` very often. With ASP.NET Core it's very easy to do integration testing via specail testable `TestServer` and `HttpClient` (see my commit 5bd07b5e1be6b9e5184fc76be4466965141e69f3 done special for it) - it works blazingly fast :)

(Very IMHO): Skipping web server part from test doesn't make big sense because it's not integration test anymore, but still using HTTP pipeline's abstracti

[2018-06-28 15:18] irium commented on #50
I'm using contextual handler since it's simpler to use in some aspects. But I'm thinking about to try another approach, although for now I don't see much benefits (using ASPNET.Core, keep in mind my previous comments).

As for documentation - it's excellent. Very clear :)

[2018-06-28 17:05] Zaid-Ajaj commented on #50
@irium I have added Giraffe/Asp.net core to the [docs](https://zaid-ajaj.github.io/Fable.Remoting/src/request-context.html), although I haven't tested it, I believe that migrating to a non-contextual version should go smooth, would that be the case in your project or will you have difficulties?

Say if you had this:
[code]
it can be easily converted to:
[code]
where `context` in Giraffe/Saturn is

[2018-06-29 15:05] irium commented on #50
@Zaid-Ajaj My setup is more complicated than your simple example :)

[code]

Let's imagine that I have more than one "remotings" - together with `musicStore` there are about ten "web parts". And not every one needs `securityToken` and `db`. So there will be overhead of creating `securityToken`, parsing http headers etc that will not be used further in the chain.

So I think we need another level o

[2018-06-29 15:10] irium commented on #50
Addendum: my dependencies has complex inter-connection graph, some of them are created by factories, that depends on another deps. So it's easier to manage this complex things via standard ASPNET.Core depency injection (via `Autofac` that do all that plumbing automatically).

Maybe it just because I've used to do OO for a long time before :)) But indeed `Autofac` is a great library that do almost

[2018-06-29 15:34] irium commented on #50
Also, another performance hit is that _all_ `remoting`s will be created _every_ request.

[2018-06-30 06:17] Zaid-Ajaj commented on #50
@irium

 Long post you say? I wanted MORE! :smile:  this is very interesting

Ok, let me break this down to make sure I understand you

If each `remoting` handler requires different dependencies, then each factory (i.e. `createMusicStore`, `createAdmin` etc.) would require different dependencies:
[code]
**Please correct me on the following**:
I think you already know that this is possible but as y

[2018-06-30 18:36] Zaid-Ajaj commented on #50
I guess the builder for Suave can become a simple function of `HttpContext ->  'Implementation` instead of a reader (technically the same) because Suave doens't have a DI mechanism as far as I know, so it can be:
[code]

[2018-06-30 19:20] Nhowka commented on #50
Couldn't we just have it take an extra `Type -> obj` and for the asp.net case create an wrapper to the existing DI while enabling Suave to use the same code?

[2018-06-30 19:39] Zaid-Ajaj commented on #50
@Nhowka Can you please elaborate, what do mean by `Type -> obj`?

The `DI.Resolve<'T>()` in the sample above is already the wrapper (that I still need to test)

[2018-06-30 20:39] Zaid-Ajaj commented on #50
I understand now, it would be possible to create our own IoC container for Suave but it wouldn't be as simple as `Map<Guid, obj>`, IoC containers need to be able to create instances of different classes and control their lifetime, so if possible we would build a wrapper around an existing implementation like `AutoFac` or `Ninject` but again I am not sure whether we should do that just to be able t

[2018-06-30 22:02] Nhowka commented on #50
That could be just an example implementation, but any `Type -> obj` could be fine. I don't even know if most IoC can be fit on that signature, but having it optional to be used inside that point where we are already injecting the context could work.

[2018-07-01 07:30] Zaid-Ajaj commented on #50
Using `Type -> obj` would unify the API but the only thing you can now `resolve` in Suave is the `HttpContext`, so having a generic function for that is overkill but we will how things can turn out later if we start working on DI integration for Suave

[2018-07-01 12:16] Nhowka commented on #50
Did a test branch with a function for injection but CI seems broken. Integration tests passed locally.

[2018-07-02 09:14] Zaid-Ajaj commented on #50
@Nhowka I don't know why it didn't work but I restarted [the build](https://travis-ci.org/Zaid-Ajaj/Fable.Remoting/builds/398723868) and it seems to run fine now :)

[2018-07-02 12:40] Zaid-Ajaj opened #54 "Roadmap and next steps"
After the [recent discussion](https://github.com/Zaid-Ajaj/Fable.Remoting/issues/50) and a review on the overall architecture of the library, I have decided to make a small rewrite and here are my thoughts on what next steps will be taken and the reason behind them

 - [ ] Removing the CE based Api
It was a nice addition to the previous api, which was just a function that takes in many parameters.

[2018-07-02 14:01] Nhowka commented on #54
I don't understand the `reader` and how it makes it build the endpoints only once

[2018-07-02 15:18] irium commented on #54
There is a mistake here:

[code]

it should be written as this:

[code]

[2018-07-02 15:30] Zaid-Ajaj commented on #54
The reason the endpoints will be created once is because the builder will be invoked once and will cache the routes, i.e. this block will run once (at least I will make sure that internally, the code that builds routes is run once):
[code]
it has nothing to do with the `reader`, the `reader` is just a function `'a -> 'b` that in our case will be `HttpContext -> 'b` that seems to allow for function

[2018-07-02 15:43] Zaid-Ajaj commented on #54
@irium It is not a mistake, this is how I am thinking of building this, because otherwise the client would have to invoke the function `findAlbums` like this: `server.findAlbums "some name" ()` which is weird , it also clutters the definition of the protocol:
[code]
using the `reader` at the protocol level is a lot cleaner and simpler (especially from the client pov), even if some functions don't

[2018-07-02 16:49] Zaid-Ajaj commented on #54
Creating the implementation on every request is extremely cheap / negligible. it is just creating a record. This is only *if* you wanted to access and context and dependencies, otherwise you could just create the implementation yourself and write `Remoting.fromValue impl`. This is no different than any mvc/web-api controller that gets instantiated every request based on its dependencies

Using `IP

[2018-07-02 17:34] irium commented on #54
@Zaid-Ajaj Yeah, I've already know what the `Reader` is and what problems it solves. At the end it's me, who proposed to use it :)

But again, using "overused example":

[code]

I see `musicStore` as `web part` with multiple methods - routes. Try to rewrite the example to show how it will be looking when using two or more methods from `IMusicDb` and how it will be routing to? I don't see how it co

[2018-07-02 17:40] irium commented on #54
@Nhowka Creating implementation is not an issue here, at all. It's abstracted away completely. You could create it beforehand and just always return already cached instance.

This is matter of DI system in use - everyone DI library (like Autofac, Ninject etc) allows you to configure dependency as `instance` by passing already created instance to them. Or, as `singleton` - it will be created only o

[2018-07-02 17:57] Zaid-Ajaj commented on #54
@irium I was trying to explain it to @Nhowka but you posted while I was writing :)

Do you mean from a users perspective or internally (how the library will decide what function to invoke?)

here is the full example (that I haven't tested yet):
[code]
or you can create a seperate factory function:
[code]
Is this what you meant?

[2018-07-02 18:10] Zaid-Ajaj commented on #54
heck, why not even let the dependency injection framework create the `IMusicStore` for you as `singleton` so that you will be able to just `resolve` it right away from the container like this
[code]
Not sure how you would register it though with the container

[2018-07-02 21:41] Nhowka commented on #54
Thinking about it, those functions are less useful if they are referentially transparent and less likely to always return the same result... Should we add a `Cache-Control: no-cache` header to be safe?

[2018-07-02 22:31] Zaid-Ajaj commented on #54
That's a good point, we won't cache anything, users can cache their data if they need to

also, I think `reader` is too general, what do you think about calling it `implicitContext` or just `context`?

[2018-07-03 13:14] Zaid-Ajaj commented on #54
Theoretically it will be something as follows, I still need to test things out (please wait before you start implementing anything because our work will then overlap)

[code]

[2018-07-05 18:45] Zaid-Ajaj opened #55 "Eliminate repetitive use of reflection in shared (Server) and implementations"
There is a lot of examples of reflection code asking for type metadata over and over again. Especially the snippet: `implementation.GetType().GetProperty(methodName)`

- in [dynamicallyInvoke](https://github.com/Zaid-Ajaj/Fable.Remoting/blob/master/Fable.Remoting.Server/ServerSide.fs#L48)
- in [getInputType](https://github.com/Zaid-Ajaj/Fable.Remoting/blob/master/Fable.Remoting.Server/ServerSide.f

[2018-07-05 18:49] Zaid-Ajaj opened #56 "Verify protocol definitions before building the API"
Add checks to makes sure the protocol shape  is correct (has to be record type, fields are only functions, let the users know whether they are trying to JSON-serialize unsupported types like classes etc.)

[2018-07-06 08:23] Zaid-Ajaj opened #57 "Allow a single JSON object as input for functions expecting a single parameter"
For example, if a function is expecting a record of `type Person = { name: string; age; int }` then it more natural from the consumer's perspective to send just:
[code]
instead of
[code]
Allowing both forms as valid input for the same function (this is not limited to records)

[2018-07-07 12:14] Zaid-Ajaj opened #59 "Localize Fable client errors"
Errors generated from the Fable client are sent off to the *global* handlers that are defined when the proxy is created. This is not very helpful, because reacting to these errors locally (where it originated) using a global handler is hard

Solution: localize the errors to be able to react to them on call-site just like how the dotnet client does it, here is a snippet from the tests
[code]

[2018-07-07 12:18] Zaid-Ajaj opened #60 "Make GET requests from Fable client when possible"
Although the server adapters can handler POST-only requests, use GET for record fields of type `Async<'t>` or `'u -> Async<'t> when isUnit typeof<'u>`  from the client side too for a coherent RPC story

[2018-07-07 12:52] Zaid-Ajaj commented on #59
Or even for a better api:
[code]

[2018-07-07 23:53] Zaid-Ajaj opened #61 "Remove application logic from Fable proxy"
The following functionality will be removed to tidy up the library and slim down it's responsibilities:
 - Retry logic
 - Authentication-require callbacks
 - Custom handlers
 - the CE based api

Should be added from the consuming app as needed

[2018-07-08 16:57] Zaid-Ajaj commented on #20
Fixed in #58 -> Use Aspnet core adapter

[2018-07-08 16:57] #20 closed

[2018-07-08 16:57] Zaid-Ajaj commented on #19
Fixed in #58 -> Use Aspnet core adapter

[2018-07-08 16:57] #19 closed

[2018-07-08 16:58] Zaid-Ajaj commented on #50
Fixed in #58, `reader` added

[2018-07-08 16:58] #50 closed

[2018-07-08 16:58] Zaid-Ajaj commented on #55
Fixed in #58

[2018-07-08 16:58] #55 closed

[2018-07-08 16:59] Zaid-Ajaj commented on #57
Implemented in #58 except for input arguments of type array or list

[2018-07-08 16:59] #57 closed

[2018-07-08 16:59] Zaid-Ajaj commented on #56
Fixed in #58

[2018-07-08 16:59] #56 closed

[2018-07-08 16:59] Zaid-Ajaj commented on #59
Fixed in #58, see [error handling](https://zaid-ajaj.github.io/Fable.Remoting/src/error-handling.html)

[2018-07-08 16:59] #59 closed

[2018-07-08 17:01] Zaid-Ajaj commented on #60
Fixed in #58
[code]

[2018-07-08 17:01] #60 closed

[2018-07-08 17:01] Zaid-Ajaj commented on #61
Fixed in #58

[2018-07-08 17:01] #61 closed

[2018-07-08 19:27] Zaid-Ajaj opened #62 "Suave nuget 3.x is not working"
The package Fable.Remoting.Suave doesn't seem to work. The error is related to Fable.Remoting.Json dependency not being resolved correctly

Project:
[code]
Program.fs
[code]
When running using `dotnet restore --no-cache && dotnet run` I get
[code]
dotnet version => 2.1.300
issue occurs when using paket too

[2018-07-08 19:46] Zaid-Ajaj commented on #62
Dependency graph looks as follows which to me seems to be fine:
[code]
Referencing the project directly from source works fine (which is why all tests are running)

[2018-07-08 19:55] Zaid-Ajaj commented on #62
Deleting `.nuget` folder on my windows machine doesn't solve the problem

[2018-07-08 20:45] Zaid-Ajaj commented on #62
It is "fixed": probably it was something internal, I just incremented the version by 1 minor and re-published the packages and now it seems to work

[2018-07-08 20:45] #62 closed

[2018-07-16 19:31] nojaf opened #63 "ASP.NET Core sample not working out"
Hi, I'm trying to setup remoting with ASP.NET Core.

[code]

[code]

[code]

[code]

What am I missing here?

[2018-07-16 19:41] Zaid-Ajaj commented on #63
Hi there @nojaf,

It seems that F# with cannot infer on it's own that `remotingApp` has type `RemotingOptions<HttpContext,  IRonnyService>`

can you explicitly define `remotingApp` with that type? i.e.
[code]

[2018-07-16 20:05] nojaf commented on #63
Adding the type resolves the problem, thanks for the quick response!

[2018-07-16 20:05] #63 closed

[2018-07-16 20:22] Zaid-Ajaj commented on #63
No problem! :smile:

On a side note, you actually don't need the explicit signature, F# should already infer the type when `remotingApp` was used in the function `UseRemoting`, I took a couple of minutes to make the simplest [pure kerstrel sample](https://github.com/Zaid-Ajaj/remoting-pure-kestrel), you can use it as a reference

[2018-07-16 20:39] Zaid-Ajaj commented on #63
Alright then, I will add this as a side-note in the aspnet core docs 👌

[2018-07-24 19:42] Elonon opened #64 "Client Proxy.fs does not set the "Credentials" Fetch request property"
The request properties sent to `GlobalFetch.fetch` [originally included](https://github.com/Zaid-Ajaj/Fable.Remoting/blob/6f39e2c783bf807a9609320a697e5dcea976c7ba/Fable.Remoting.Client/Proxy.fs#L188) the Credentials option. [The latest version does not](https://github.com/Zaid-Ajaj/Fable.Remoting/blob/2d55c3a30d76178c78bab8d50cb2624f54b54021/Fable.Remoting.Client/Proxy.fs#L112). That property [nee

[2018-07-24 19:55] #64 closed

[2018-07-24 20:02] Zaid-Ajaj commented on #64
Hi @Elonon, it seemed I removed too many stuff in the recent upgrade 😅 my bad! I have added it back in and published Client `v3.2.1` it should be available from nuget very soon

However, I wonder why the cookies aren't being included because I explicitly [add them](https://github.com/Zaid-Ajaj/Fable.Remoting/blob/master/Fable.Remoting.Client/Proxy.fs#L99) in the request headers.

[2018-07-24 21:00] Elonon commented on #64
Thanks for fixing that so quickly!

Cookies with the `HTTPOnly` flag aren't visible to `document.cookie`. Most session/authentication cookies use this flag to prevent XSS.

[This page](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie) explains it better than I can.

[2018-07-24 23:22] Zaid-Ajaj commented on #64
Thanks @Elonon for the reference, I will definitely check it out!

[2018-08-03 08:56] AkosLukacs opened #66 "If you define an interface with `T seq` return type, Fable.Remoting doesn't seem to deserialize DUs properly."
Full repro here: https://github.com/AkosLukacs/fable-remoting-seq-type Just clone & run.

If you define an interface with `T seq` return type, Fable.Remoting doesn't seem to deserialize DUs properly. Deserialization works just fine with `T list`

[code]

Server response as seen on Network tab of the browser is same in both cases:
[code]

If you console log the result, shows different result for di

[2018-08-03 12:41] Zaid-Ajaj commented on #66
Hello @AkosLukacs, thanks for the detailed report

This is a known limitation of Fable's (1.x) internal `ofJson`, when you use `seq` where you mean "here is a generic sequence of elements", Fable doesn't know to which concrete type it should deserialize the sequence, should it be a list by default or an array etc. This issue is not specific to DU's but for DateTime's as well, see [Alfonso's commen

[2018-08-03 13:47] AkosLukacs commented on #66
@Zaid-Ajaj thank you for the detailed answer :)

Makes sense, a runtime warning (if possible) would be helpful. But I guess that's on fable-side of the world. Maybe Fable 2 will solve this issue.

[2018-08-03 13:47] #66 closed

[2018-08-03 14:31] Zaid-Ajaj commented on #66
Fable 2 will not include any automatic Json conversion, instead it will be handled on third-party libraries, Fable.Remoting is planned to use [Fable.SimpleJson](https://github.com/Zaid-Ajaj/Fable.SimpleJson) where it is already working perfectly on Fable 2 beta, I just added `seq<'t>` conversion support with tests:
[code]

[2018-08-12 01:22] Zaid-Ajaj opened #69 "Port Client to Fable 2.x"
Json serialization/deserialization should be almost ready from [Fable.SimpleJson](https://github.com/Zaid-Ajaj/Fable.SimpleJson), although there might be problems with recursive (self-referencing) types, I will need to check.

[2018-08-15 14:18] nojaf commented on #69
Some errors I got during update to Fable2 beta:

[code]

[Proxy.fs](https://github.com/Zaid-Ajaj/Fable.Remoting/blob/master/Fable.Remoting.Client/Proxy.fs#L130)

[code]

[code]

How does `Simple.Json` and `Thoth` fit into this new Fable2 story? I thought Thoth is going to be the new default?

[2018-08-15 17:50] Zaid-Ajaj commented on #69
Hello @nojaf,
the errors you are getting are to be expected as Remoting.Client is not yet ported to Fable 2. It is not as simple as one would think, because Client relies *a lot* on internal Fable functionality for JSON marshalling (like `ofJsonAsType`) that is only usable from Fable 1. In fact, Fable 2 removed all JSON facilities and left reflection support available so that JSON marshalling can

[2018-08-16 05:57] nojaf commented on #69
Hi @Zaid-Ajaj , thanks for the explanation. So using `System.Reflection` or `FSharp.Reflection`  you need to provide `SimpleJson` or `Thoth` with enough info to get the serialization going?

Hmm that does sound tricky since the new api probably isn't really that documented yet.

[2018-08-16 06:55] Zaid-Ajaj commented on #69
You don’t have to do anything with Reflection, the third-party libraries use reflection internally to implement JSON marshalling. For example, SimpleJson has this API:

let numbers = “[1, 2]” |> Json.parseAs<int list>

There are more functions available from SimpleJson for fine-grained control over JSON. Currently, most types can be converted back and forth except for recursive records (still work

[2018-08-16 07:01] nojaf commented on #69
I didn't mean `you` as consumer of Fable.Remoting. But more `you` as in a developer working on Fable.Remoting.

[2018-08-16 11:40] Zaid-Ajaj commented on #69
Oh that, yeah it a bit tricky, hopefully SimpleJson already has everything I need for porting Client, both reflection abstractions and Json stuff so no worries for now :wink:

[2018-08-16 13:08] Zaid-Ajaj commented on #69
Aaand just implemented support for recursive types in SimpleJson, Now Fable.Remoting will be able to support all types 😄
[code]

[2018-08-16 13:25] nojaf commented on #69
Wow great news.

[2018-08-18 22:57] Zaid-Ajaj commented on #69
Fixed in [https://github.com/Zaid-Ajaj/Fable.Remoting/pull/71](https://github.com/Zaid-Ajaj/Fable.Remoting/pull/71)

@nojaf The Fable client has been ported to Fable 2, published as verion `4.0.0-beta-001`, you will also need to update the server packages you are using because Json serialization on the server is updated as well to understand new representations of JSON from Fable 2 while being bac

[2018-08-18 22:57] #69 closed

[2018-08-19 08:02] nojaf commented on #69
@Zaid-Ajaj thanks for releasing this so quickly. I've tested it just now and most things seem to work.

Except the following scenario:
[code]

The server is able to serialize this:
[code]

but the client says:

[code]

[2018-08-19 11:31] Zaid-Ajaj commented on #69
Nice catch! Fixed in SimpleJson and updated the remoting client, can you update to `4.0.0-beta-002` :smile:?

[2018-08-19 12:42] nojaf commented on #69
@Zaid-Ajaj works like a charm. Many thanks for fixing this so quickly.

[2018-08-19 13:03] Zaid-Ajaj commented on #69
Awesome! thanks for testing it out :smile: just please let me know if you encounter more of these types of errors

[2018-08-31 20:58] nojaf opened #73 "RemotingFailure Error: Cannot convert "JNull" to "Unit""
Servers sends:
[code]

And return type is
[code]
`RemotingFailure Error: Cannot convert "JNull" to "Unit"`.
Using latest fable2 bits.

[2018-09-01 10:58] Zaid-Ajaj commented on #73
Thanks for the report @nojaf, as a workaround for now, you can change unit to bool or int for example

I will try to fix it asap

[2018-09-02 12:59] nojaf commented on #73
Thanks, it works now.

[2018-09-02 12:59] #73 closed

[2018-09-04 22:26] irium opened #75 "Error when passing Map with DU as Keys in Fable 2 client."
I've added two test cases:

IServer.echoConfigMap - "canonical" form. Error thrown is somewhat different than my real case, which I've implemented as 2nd test case:
IServer.returnConfigMap. Error at the client side is because it compares key name in quotes (""K1"" in the test) with key name without them ("K1") and didn't find corresponding key.

See #74

[2018-09-04 22:34] irium commented on #75
Note that in my project I'm using latest Giraffe and Fable 2 prerelease libraries together with Fable.Remoting.Client prerelease.
With Fable 1 libs everything worked good.

[2018-09-04 23:53] irium commented on #75
I've localized problem in `Fable.SimpleJson`. See https://github.com/Zaid-Ajaj/Fable.SimpleJson/issues/4
Closing this.

[2018-09-04 23:53] #75 closed

[2018-09-30 22:12] Zaid-Ajaj opened #77 "Update docs"
Just so I don't forget

 - Update template parameters in README and guide
 - Add docs about the documentation API

[2018-10-02 05:47] francotiveron opened #78 "Using Fable.Remoting in multiple server scenarios"
The documentation seems to show only examples where there is only one server, and client and server are in the same machine.
Is there an example where a client can call multiple different servers in different networked computers?
For example, how can I create multiple proxies in a client like in

let proxy1 = createApi("10.129.2.13")
let proxy2 = createApi("www.contoso.com")
let len1 = proxy1.getL

[2018-10-02 08:08] Zaid-Ajaj commented on #78
Hello there @francotiveron, a proxy by default will call the server of the same domain but you a different [base url](https://github.com/Zaid-Ajaj/Fable.Remoting/blob/master/Fable.Remoting.ClientV2/Remoting.fs#L20-L22) where the requests will be sent:
[code]
I will add it to the docs soon-ish :smile:

[2018-10-02 21:47] francotiveron commented on #78
Great, thanks

[2018-10-02 21:47] #78 closed

[2018-10-07 12:02] nojaf opened #80 "Q: Ending up with two libraries to serialize things."
Hi, I'm using `Fable.Remoting.Client` and I noticed it has a dependency on `Fable.PowerPack` and `Fable.SimpleJson`. If you look closer `Fable.PowerPack` has a dependency on `Thoth.Json`.

So I guess in my bundle I end up with two libraries that serialize json. I'm having some mixed feelings about this. I'd like to hear your thoughts on this.

//cc @MangelMaxime

[2018-10-07 13:29] MangelMaxime commented on #80
I think like Zaid, if Fable.Remotong do not use the code touch by Thoth.Json then it should not have it in the generated bundle. Just because Fable will not import it.

One problem in breaking PowerPack into several libraries is that it's already used at a lot of place. So yes, we could indeed add `Obselete` attribute so people know that they need to use `Fable.PowerPack.Fetch`, `Fable.PowerPack.P

[2018-10-07 13:43] Zaid-Ajaj commented on #80
I agree, power pack is nice for most people because it covers a lot common application needs. However this is the distinction I want to make: applications can use Fable.PowerPack as it is now but *libraries* and library authors should only use the components they need. I suggest making Fable.PowerPack into a "meta package" that just includes multiple packages as dependencies like this:
[code]
then

[2018-10-07 13:56] MangelMaxime commented on #80
Ok so you want to create two new **real** bindings and then make `Fable.PowerPack` an helper on top of them.

I think it can be a good idea. If you want to open an issue describing a proposition so we can ask others opinion and review on the pros/cons :)

[2018-10-07 17:15] Zaid-Ajaj commented on #80
Yeah Fable.PowerPack doesn't even need to include helper code, just include other libraries as dependencies, I will try to post the the suggestion on the main power pack repo soon

[2018-10-07 18:33] MangelMaxime commented on #80
It will needs to include some helpers code for combining Fetch and Thoth.Json so people still have access to `Fetch.asJson` and so on.

[2018-10-08 09:57] #77 closed

[2018-10-09 06:30] nojaf commented on #80
Thanks for your input. And so elephant in the room: can't you guys be friends again and converge both SimpleJson and Thoth into one serializing library? 😅

To me it just feels like you both solved the same problem, and I'm still not sure when to use Thot or when to use SimpleJson.

[2018-10-09 08:01] MangelMaxime commented on #80
I think we kind of have the same situation as `Fable-Arch` vs `Elmish` at the time. Where we decided to use the library having more traction and that we considered more "powerful". At the time, the key difference has been the support for `react` by default compared to `vdom`.

Please note, that because I am the creator of `Thoth.Json` even if I try to be objective I am probably biased :p

I think

[2018-10-09 09:15] Zaid-Ajaj commented on #80
@nojaf Of course we are still friends but we have different ways of solving problems, :smile:

Yes, both might be able to serialize and deserialize JSON  into and from typed entities but my idea with SimpleJson is to work with JSON as a data structure: you can *manipulate* and *transform* it using standard F# functions and active patterns the same way you do with `Newtonsoft.Json.Linq` without def

[2018-10-09 09:39] MangelMaxime commented on #80
@Zaid-Ajaj So in your example, you are actually modifying the JSON before sending over the network ? We resume it as doing `JSON -> JSON` manipulation directly.

Or are you running the `normalize` function in the client code just before "decoding" it into a real type ?

I am just trying to understand because this is perhaps here the difference we need to document :)

PS: I think there is room enou

[2018-10-09 13:15] nojaf commented on #80
Very glad to hear this 🤗.

So maybe to recap some remarks above:
- Although `Thoth` and `SimpleJson` share common functionality, there clearly are scenarios where one fits better than the other. Perhaps these should be listed somewhere.
- `Fable.PowerPack` could become a meta package, this could couple `Fable.Remoting.Client` lose from `Thoth`.

[2018-10-09 14:04] Nhowka commented on #80
Speaking of coupling, wouldn't it be helpful to have a decoder interface that `SimpleJson` and `Thoth.Json` could implement and have `Fable.PowerPack` depending on that interface?

[2018-10-09 16:53] Zaid-Ajaj commented on #80
@Nhowka I don't think that kind of decoupling is needed for PowerPack, it should be enough to use Thoth.Json under the hood without having to make Thoth.Json swap-able with SimpleJson or others.

[2018-10-12 13:37] theimowski opened #83 "Async.Bind fails for remoting client if the protocol returns an array"
Given following sample:

Shared
[code]

Server (Saturn):
[code]

and Client:
[code]

The `after` msg does not appear in console.
If I change the protocol to return `HighScore` instead of `HighScore array`, the code works properly.

Edit: Just found that if I replace `HighScore array` with `HighScore list` the code works fine as well. So it seems it's just an issue with array.

[2018-10-12 14:12] Zaid-Ajaj commented on #83
Thanks for the report @theimowski I am on it!

Any chances you have the build versions for dotnet-fable, Fable.Core and remoting client?

[2018-10-12 14:35] theimowski commented on #83
Sure thing:

[code]

[2018-10-12 15:00] Zaid-Ajaj commented on #83
@theimowski I am unable to reproduce the problem, I made tests [here](https://github.com/Zaid-Ajaj/Fable.Remoting/commit/13f5bc9467d69ade874f4473d23c3d4f93a19bd0) and [there](https://github.com/Zaid-Ajaj/Fable.Remoting/commit/3911cd2e805a2535e55e40de711aa081b699fc45) from your code and they are passing both locally and on CI, even added some [async tests](https://github.com/Zaid-Ajaj/Fable.SimpleJ

[2018-10-12 15:09] theimowski commented on #83
Let me create a repro based on safe template (yet unreleased - the version with fable 2)

[2018-10-12 15:15] theimowski commented on #83
Hm strange, tried to come up with minimal repro and I'm unable to reproduce. Maybe it had something to do with other parts of the larger app.. Closing, if I can come back to this then I'll reopen

[2018-10-12 15:15] #83 closed

[2018-10-12 15:48] Zaid-Ajaj commented on #83
Oh yes, please re-open if the issue occurs again :smile:

[2018-10-20 22:56] bratfizyk opened #85 "Can't find WebHostBuilder in Giraffe example"
Well... It's a minor thing, but I decided to ask anyway.

I tried following the manual step-by-step guide, but when I hit the section for [Giraffe](https://github.com/Zaid-Ajaj/Fable.Remoting#giraffe), the compiler complains that WebHostBuilder() is unknown. Where can I find it ?

[2018-10-20 23:36] Zaid-Ajaj commented on #85
No worries, it is in `Microsoft.AspNetCore.Hosting` but you have to open the following namespaces too for the extension methods of the builder, see [this example](https://github.com/Zaid-Ajaj/Fable.Remoting/tree/master/Fable.Remoting.IntegrationTests/Server.Giraffe) from the integration tests sample:
[code]
I didn't include them as to make the snippet smaller because I assumed you already had thos

[2018-10-20 23:39] bratfizyk commented on #85
Cool, thanks - I have some experience with Suave, but this time I decided to be "cool and do something new" ;).
+1 for your reasoning about keeping the snippets simple.

[2018-10-20 23:39] #85 closed

[2018-10-29 23:34] #80 closed

[2018-10-30 10:11] Zaid-Ajaj commented on #80
Hello @nojaf this has been fixed in #86 and remoting client now uses XMLHttpRequest instead of fetch which makes things a lot simpler!

Can please you update to v4.5.0 to check if it still works as it should? the integration tests are running fine but I am not sure how it impacts an exisiting app ;)

[2018-10-30 17:55] 0x53A opened #87 "Control serialization of payload"
Fable.Remoting works really well for normal F# types (Records, Unions etc).

Is there a way to control serialization for more complex types?

---------------

I want to send geometric models from server to client.

My model looks like this:

[code]

On the server-side I use https://www.nuget.org/packages/System.Numerics.Vectors/.

On the client-side I added my own replacements which model the nuge

[2018-10-30 18:31] Zaid-Ajaj commented on #87
Hello there @0x53A,

I am afraid that customizing the serialization mechanism is not possible nor it is one of the goals of this library.

This is the way to go. if you want something slightly better than arrays, you can define a shared vector/quaternion types as records and convert them to your class types

[2018-10-30 18:31] #87 closed

[2018-10-30 21:40] nojaf commented on #80
Hi @Zaid-Ajaj, I've updated and everything still works.
I still have Fable.PowerPack (and thus Thoth.Json) in my project due to other references (Fable.Elmish f.ex).

But it's a start I guess, many thanks.

[2018-11-01 07:34] kunjee17 opened #88 "After adding Fable.Remoting am I loosing ability to render html"
Hi, I am using Giraffe with Fable.Remoting. Things are working fine if I am using it with Fable.Elmish single page application.

but what if I wanted to use Giraffe as web server as well to render html pages? Is adding Fable.Remoting will remove that ability or it would be still be possible?

[2018-11-01 09:04] Zaid-Ajaj commented on #88
Hello @kunjee17, yes it is definitely possible. remoting on the server creates a `HttpHandler` which you can use and combine with other `HttpHandlers` from giraffe as follows:
[code]

[2018-11-01 10:01] kunjee17 commented on #88
@Zaid-Ajaj hey man thanks for reply. it did compiled but was unable to get it work.

Even I tried removing api but url seems to be not working

[code]

Is this code looks legit ?

[2018-11-01 10:11] Zaid-Ajaj commented on #88
The code looks legit if you are using Giraffe alone, if you want to add remoting with it, you need to add the `HttpHandler` to your `webApp`, change this:
[code]
to
[code]

if this doesn't work, maybe it would be simpler to start from SAFE template with Giraffe and remoting enabled

[2018-11-01 10:18] kunjee17 commented on #88
@Zaid-Ajaj you can surely make fun of me when we meet. I was testing 8080 port while server is running on 8085 port. So damn dumb of me. It is very much working. Thanks man. Closing this issue.

[2018-11-01 10:18] #88 closed

[2018-11-01 10:37] Zaid-Ajaj commented on #88
@kunjee17 HAPPENS. ALL. THE. TIME. 😂 no worries!

[2018-11-07 12:43] nilekirk opened #89 "Getting exception 'Refused to set unsafe header "Cookie"' after update to clientv2 version 4.5.0"
The cookie is sent, though. So I think filtering out unsafe headers [here](https://github.com/Zaid-Ajaj/Fable.Remoting/blob/master/Fable.Remoting.ClientV2/Http.fs#L49) would solve the issue.

I'm on chrome latest. Havn't tested in other browsers.

[2018-11-07 13:18] Zaid-Ajaj commented on #89
Hi there @nilekirk, I think this happens because I include `Cookie` [manually here](https://github.com/Zaid-Ajaj/Fable.Remoting/blob/master/Fable.Remoting.ClientV2/Proxy.fs#L72) where it should be sent automatically by the browser, I will investigate this further, thanks for repoting

[2018-11-07 14:36] #89 closed

[2018-11-07 14:37] Zaid-Ajaj commented on #89
Just published the fix in v4.5.1 can you please update and check to see whether the issue if fixed?

[2018-11-07 15:07] nilekirk commented on #89
It's working great. Thank you!

Also a big thank you for all your great libs! The whole team
here @UMCGlobalSafety sends their warmest regards.

All the best

Jonas

Den ons 7 nov. 2018 kl 15:37 skrev Zaid Ajaj <notifications@github.com>:

[2018-11-07 15:58] cgravill opened #91 "Maps with record keys deserialization"
I've updated to a recent version of Fable.Remoting and am getting errors on deserialization. I've reduced the issue to maps with records as keys:

[code]
client:
[code]
Then I get:
[code]
Should that still work if I've got everything configured correctly?

Fable.Remoting.Client (4.5.1)
Fable.SimpleJson (2.6)

[2018-11-07 16:05] Zaid-Ajaj commented on #89
Thank you Jonas! I am happy to hear that my libraries are being useful to you :heart:

[2018-11-07 16:09] Zaid-Ajaj commented on #91
Hello there @cgravill, I don't think I have covered such scenario but it I probably should support it, for now as a workaround you can use `(Record * int) list` until this is fixed

[2018-11-07 16:19] cgravill commented on #91
Thanks for confirming @Zaid-Ajaj

Yep, I'll probably do a workaround like that for now, there are quite a few nested maps on the API but it's straightforward.

[2018-11-07 16:20] Zaid-Ajaj commented on #91
I just added the following test and it seems to work pass fine:
[code]
Do you happen to have a more complex sample that doesn't work?
And most importantly, are you using latest `dotnet-fable`?

[2018-11-07 16:30] cgravill commented on #91
Thanks! I started looking at the `MapSerializer` implementation but wasn't sure how that connects up to the client-side bit.

[2018-11-07 17:49] Zaid-Ajaj commented on #91
The fix is published with v4.5.2, can you please update to check whether the issue persists?

[2018-11-07 18:00] cgravill commented on #91
Thanks, that did it and my app is fully working on Fable 2.x now!

[2018-11-07 19:09] #91 closed

[2018-11-07 19:54] Zaid-Ajaj commented on #91
@cgravill Happy to hear that :smile:

[2018-11-08 09:38] ikzk opened #94 "Typo in readme"
It seems that in the readme, the following example code has an extra `()`

[code]

[2018-11-08 09:47] Zaid-Ajaj commented on #94
Hello @ikzk, thanks for checking the readme, but this is not a typo, the record field `allStudents` has type `Async<Student list>`, so I need to evaluate `getStudents` when constructing the record field

If `allStudents` had the type `unit -> Async<Student list>` then I wouldn't need to use `()` but that is not the case here, see for yourself that this actually compiles in [this dotnet fiddle samp

[2018-11-08 09:47] #94 closed

[2018-11-08 09:49] ikzk commented on #94
Gotcha. Thanks for your comments!

[2018-11-09 11:20] 0x53A opened #95 "float32 does not work"
I wanted to transmit a float32 array over Fable.Remoting, but always got

[code]

![grafik](https://user-images.githubusercontent.com/4236651/48259832-96caf980-e419-11e8-8c54-2afd29c1aa6e.png)

### Workaround

After changing all of them to float (64 bit), it works

### Root cause

I would guess this is maybe because Fable.SimpleJson doesn't handle System.Single?

![grafik](https://user-images.gith

[2018-11-09 12:09] cgravill commented on #91
Incidentally, Fable.Remoting has been very helpful for getting some tools up and running quickly. Many thanks for building it and continuing to develop it with the Fable 2.x changes.

[2018-11-09 12:13] 0x53A opened #96 "byte array does not work"
My models look like this:

[code]

when I send them from server to client I get an error:

![grafik](https://user-images.githubusercontent.com/4236651/48261835-a69a0c00-e420-11e8-849e-fd7821743473.png)

[code]

![grafik](https://user-images.githubusercontent.com/4236651/48261880-c7faf800-e420-11e8-8626-bb5d1f35d615.png)

It seems the issue is that the server encodes the byte array as base64, but t

[2018-11-09 12:44] Zaid-Ajaj commented on #95
Thanks for the report, this should be an easy fix indeed. The root cause is almost always in SimpleJson as the library handles all JSON serialization business, I will try to fix it later today

[2018-11-09 12:47] Zaid-Ajaj commented on #96
I didn't know the server does that haha, no problem I will try to fix this one today, of course, if you want to give it a try too then be my guest :smile: PR's are always welcome

[2018-11-09 15:10] 0x53A commented on #96
I'll try to send _something_ tomorrow.

Looks like uint is also not supported:

![grafik](https://user-images.githubusercontent.com/4236651/48270212-c984ea00-e439-11e8-8cd1-cf9794404ac6.png)

[code]

-------------

No uint

![grafik](https://user-images.githubusercontent.com/4236651/48270280-f6390180-e439-11e8-8b20-04cc837b3f95.png)

[2018-11-10 16:06] Zaid-Ajaj commented on #96
Fixed in [SimpleJson/PR-18](https://github.com/Zaid-Ajaj/Fable.SimpleJson/pull/18), will patch remoting client as soon the nuget is ready

[2018-11-10 16:07] Zaid-Ajaj commented on #95
Fixed in [SimpleJson/PR-18](https://github.com/Zaid-Ajaj/Fable.SimpleJson/pull/18), will patch remoting client as soon the nuget is ready

[2018-11-10 19:03] #95 closed

[2018-11-10 19:03] #96 closed

[2018-11-10 19:05] Zaid-Ajaj commented on #96
Fix and published in version `4.5.3` of the remoting client, can you please update and check whether the issue persists?

I will open a separate issue for unsigned integers

[2018-11-10 19:06] Zaid-Ajaj commented on #95
Fix and published in version `4.5.3` of the remoting client, can you please update and check whether the issue persists?

[2018-11-22 08:41] vasily-kirichenko opened #99 "TypeError: $x$$3.CompareTo is not a function"
I have `TypeError: $x$$3.CompareTo is not a function` receiving a list of records.

The record contains string and lists of other records, all of them contains fields of primitive types only, no `Set`s or `Map`s.

I turn on the diagnostics on server and it wrote it sent completely nice JSON to the client.

How to diagnose this error further?

[2018-11-22 09:18] vasily-kirichenko commented on #99
The error has gone after restarting server and client.

[2018-11-22 09:18] #99 closed

[2018-11-22 09:39] Zaid-Ajaj commented on #99
Hello @vasily-kirichenko, it looks like the cached assets: `obj` and `bin` are interfering with the compilation. We have seen this before in Fable, restarting the compilation process should fix it.

Usually this should not happen, but if it does, then it is either that the server is sending weird JSON or that the client cannot deserialize, is which case you can try using `Fable.SimpleJson` standal

[2018-11-22 09:41] vasily-kirichenko commented on #99
Thank you, will know how to deal with it in the future :)

[2018-11-22 13:36] vasily-kirichenko opened #100 "Hard to use APIs due to lack of parameter names"
Do I understand rightly that the following API method is idiomatic?

![image](https://user-images.githubusercontent.com/873919/48905876-c5ae8a00-ee73-11e8-96a2-19538acf315e.png)

If so, I find it very inconvenient to use because it lacks parameter names. The only way to improve it I could think about is adding a lot of type aliases, so it could look like this:
[code]
Despite it looks nicely, addin

[2018-11-22 13:54] Zaid-Ajaj commented on #100
I would call an API idiomatic if it reflects your intent, which is not the case here. You have a couple of options:
[code]
then it would be clear what you want to send from the call site:
[code]
Or use record
[code]
or be more creative if you have optional parameters. although I wouldn't suggest this if you have many api's that look the same
[code]
on call site
[code]

[2018-11-22 16:33] Zaid-Ajaj commented on #100
I believe this can be closed

[2018-11-22 16:33] #100 closed

[2018-11-23 06:55] vasily-kirichenko commented on #100
@Zaid-Ajaj
<pretending_naive>
Why interfaces are no allowed instead of records of functions? They would solve this problem very nicely and naturally.
</pretending_naive>

[2018-11-23 10:46] Zaid-Ajaj commented on #100
@vasily-kirichenko Interface meta data (member names, types of members) are not available at run-time (erased at compile-time) so it is a Fable limitation at first and second I prefer not have two ways of doing the same thing since record protocols work really well and I presented possible workarounds for your specific issue

[2018-11-26 07:16] vasily-kirichenko commented on #100
I'm pretty sure this meta data is presented in TAST. Does Fable transform TAST?

[2018-11-26 09:47] Zaid-Ajaj commented on #100
AFAIK it does, however Fable translation is not 100% one-to-one from F# to javascript, if all of TAST were to be compiled, the bundle size of the generated javascript would inflate, therefore Fable only includes limited support for reflection and injects meta data of a handful of supported types adhoc when the type information is available at compile type. That said, adding support for inspecting

[2018-12-06 19:30] Dzoukr opened #101 "Cannot read nested Result types on client side"
In shared project, I have DU for errors:

[code]

and proxy defined as:

[code]

On error (in Result), the payload is serialized to:

```{"Error":{"DomainError":{"ItemAlreadyExists":"Email"}}}```

But when handling on client side, the automatic deserialization fails with:

[code]

Is it because of nested union types or there is problem with transfering Result types as such?

Thanks a lot for help

[2018-12-06 20:11] Zaid-Ajaj commented on #101
Hello there @Dzoukr, do you happen to use the latest Fable compiler? @alfonsogarciacaro said he broke something with reflection in the `Result<'a>` type, see [this issue](https://github.com/fable-compiler/Fable/issues/1655)

It should have been fixed in v2.1.2, can you please check?

In any case, remoting can handle nested unions without problems, see [protocol definition](https://github.com/Zaid-

[2018-12-06 23:48] alfonsogarciacaro commented on #101
Yes, please try with 2.1.2 or higher, sorry for the trouble. Please ping me if it's still not working.

[2018-12-07 10:30] vasily-kirichenko opened #102 "Cannot deserialize"
The API:

[code]
The error:

[2018-12-07 10:56] Zaid-Ajaj commented on #102
Hello @vasily-kirichenko, this is a duplicate of #101 where metadata of `Result<'a>` isn't available on the client side of things (the `[Any, null]` bit of the error message)

please update Fable compiler to latest v2.1.4, this should have been fixed since v2.1.2

[2018-12-07 11:33] vasily-kirichenko commented on #102
It's helped, thanks! :)

[2018-12-07 11:33] #102 closed

[2018-12-07 21:52] alfonsogarciacaro commented on #102
Ups, sorry for breaking the code of so many people in the 2.1 release! 😅

[2018-12-07 22:32] Zaid-Ajaj commented on #102
Don't worry about it @alfonsogarciacaro, if the fix it simply to update to latest Fable then it is no big deal 😘

[2019-01-18 09:38] Dzoukr opened #108 "DateTimeOffset is transfered as UTC DateTime (losing information about offset)"
Hi Zaid,

I found interesting thing. When sending DateTimeOffset to server from Fable app, what is actually sent to server is DateTime in UTC format, which leads to loosing information about client offset. I checked the Converter (https://github.com/Zaid-Ajaj/Fable.Remoting/blob/master/Fable.Remoting.Json/FableConverter.fs#L27-L39) and there is no `DateTimeOffset` case.

Is it bug or is it on purp

[2019-01-18 09:46] Dzoukr commented on #108
Btw, this seems not to hard to fix, so I'll try to send PR (at least I'll get more into your great library :) )

[2019-01-18 10:23] Zaid-Ajaj commented on #108
Hello there Roman,

This *might* be a bug I am not sure, if I don't have a special case specified, it means I am just letting `Newtonsoft.Json` handle it the default way. Can you please tell me more about how the `DateTimeOffset` gets serialized to JSON and what you expected it to be? turning on the [Diagnostics logger](https://zaid-ajaj.github.io/Fable.Remoting/src/troubleshoot.html) is the easie

[2019-01-18 11:15] Dzoukr commented on #108
Ok, need to change my words - it won't be so easy to fix (however the libs seems to be written really in a clean way and great for external contribution! 👏 )

I did some investigation and sending `DateTimeOffset` from server to client works ok. The problem seems to be from when converting javascript `Date` to string interpretation (the serialization). If I got it right, the function which does tha

[2019-01-18 12:34] Zaid-Ajaj commented on #108
Almost! you should be looking into the `Fable.Remoting.ClientV2` directory (for Fable 2) instead of `Fable.Remoting.Client` (for Fable 1)

In Fable 2, I am using [Json.stringify](https://github.com/Zaid-Ajaj/Fable.Remoting/blob/master/Fable.Remoting.ClientV2/Proxy.fs#L83) from the SimpleJson which [uses the default serialization](https://github.com/Zaid-Ajaj/Fable.SimpleJson/blob/master/src/Simple

[2019-01-18 15:54] Dzoukr commented on #108
Oh, my fault! So it is in Client2. Sorry for misunderstanding and thanks for all the patience. Yes, the JSON.stringify seems to be a big fun - I found another related question on SO (https://stackoverflow.com/questions/31096130/how-to-json-stringify-a-javascript-date-and-preserve-timezone)

I'll create an issue in Fable repo.

Thanks Zaid!

[2019-01-19 20:42] Zaid-Ajaj commented on #108
Roman I think I was able to hack my way around `DateTimeOffset` forcing it to call `ToString("O")` instead of just `ToString()` during serialization which preserves the timezone information see [SimpleJson/#21](https://github.com/Zaid-Ajaj/Fable.SimpleJson/pull/21) for details. I published a new version for the client (v4.5.5) can you please update and check if everything works as expected? :smile

[2019-01-19 22:48] Dzoukr commented on #108
You are magician, Zaid! It works! 👍 Thanks a lot again! 🙏

[2019-01-27 12:50] Dzoukr opened #109 "DateTimeOffset value has server's offset, not the original one"
Hi @Zaid-Ajaj,

sorry to bother you again. I found another interesting issue when sending `DateTimeOffset` from client to server.

On client side, now everything works great (just sent +5 hours offset):

![image](https://user-images.githubusercontent.com/851307/51801117-e57a7980-2239-11e9-880a-c3b6d423291f.png)

But when receiving value on server side, the value is recalculated to server machine o

[2019-01-27 13:51] Zaid-Ajaj commented on #109
Hello Roman,
Thanks a lot for investigating the issue, this saved a lot of time for me I was able to reproduce the problem quickly, indeed this time it is the *deserialization* on the server that is losing the information, using this protocol:
[code]
I can call the endpoint with the correct data but the endpoint returns server offset:

![remoting](https://user-images.githubusercontent.com/13316248

[2019-01-27 15:42] Zaid-Ajaj commented on #109
Looks like the issue is fixed, see #110 for details. Can you please update your server side adapter:
 - Giraffe `3.4.0 -> 3.4.1`
 - Suave `3.5.0 -> 3.5.1` (if you are using Suave)
 - AspNetCore `1.4.0 -> 1.4.1` (if you are using AspNetCore middleware)

I updated the package on my little project and the roundtrip seems to work correctly:
![remoting](https://user-images.githubusercontent.com/1331624

[2019-01-27 15:42] #109 closed

[2019-01-27 15:48] Dzoukr commented on #109
Thanks a lot Zaid!!! 👍  Have a great day!

[2019-02-19 23:22] blair55 opened #111 "Cannot deserialize `Map<CustomType, _>`"
I have seen issue #101 but I think this is different. After upgrading Fable.Compiler & Fable.Loader with `yarn upgrade` the issue remains.

The type I am returning from the server is a simple map where the key is a custom type:
[code]

However when making the call from the client this error happens:
[code]

To reproduce I created a new safe stack project, introducing the problem with this diff:
ht

[2019-02-19 23:48] Zaid-Ajaj commented on #111
Hello @blair55, I think this might indeed be a bug, last time I encountered this issue was where keys of the map where DU's as enums (no inner types) and it was fixed, I will investigate. For now you can simply change the type to `(CustomType * WhateverType) list` and it should work

[2019-02-20 00:46] #111 closed

[2019-02-20 00:50] Zaid-Ajaj commented on #111
Should be fixed now, can you update `Fable.Remoting.Client` package from `4.5.5` to `4.5.6`?

Please re-open the issue if the problem persists :)

Have a great day :smile:

[2019-02-20 08:28] blair55 commented on #111
Amazing turnaround! Thanks Zaid, it works perfectly now! 👏

[2019-03-20 06:38] humhei opened #113 "Enable IServer as interface"
![image](https://user-images.githubusercontent.com/25994449/54663580-b0ddbc80-4b1c-11e9-8fd7-68a30eac2332.png)

Why?
IMO named parameters is important when communicate between server and client

In my use case:
ExcelDna can read named parameters functions from interface

[2019-03-20 08:07] humhei commented on #113
Just read sourcecodes...
Seems this is breaking change which is hard to implemented

[2019-03-20 08:24] #113 closed

[2019-03-20 08:39] Zaid-Ajaj commented on #113
Hello @humhei, this is actually a duplicate of [Hard to use APIs due to lack of parameter names](https://github.com/Zaid-Ajaj/Fable.Remoting/issues/100).

Let me break down why I didn't implement this and why I think it is not a good idea

### Interfaces are erased
The technical difficulty is primarily due to the fact that interfaces are *erased* at compile time on the client side of things becaus

[2019-03-20 08:44] humhei commented on #113
Thanks.
Good workaround for me
Get it 😄

[2019-03-21 15:40] 0x53A opened #114 "Support for BCL collections"
Hi, what do you think about adding support for the most common collections (System.Collections.Generic.Dictionary, List, maybe HashSet)?

I have DTOs I want to share between a C# backend-server, F# web-server in the middle and F# Fable on the client.

F# Map and List are a bit annoying to use in C#, and I don't quite trust the WCF serializer to serialize them correctly (I unfortunately still use W

[2019-03-21 16:29] Zaid-Ajaj commented on #114
Hello @0x53A, this sounds like a rare use case but surely I can investigate whether it is possible or not for Fable to handle these types given that BCL support is quite limited in Fable itself.

Could you help me out a bit, I have two questions:
 - Which types exactly do you need supported?
    - [ ] `Dictionary<'Key, 'Value>`
    - [ ] `List<'T>`
    - [ ] `HashSet<T>`
   -  [ ] more...

 - Wher

[2019-03-21 16:44] 0x53A commented on #114
Hi @Zaid-Ajaj, in this case I worked around it by using a ``(key*val) array`` instead.

Imo only Dictionary has much of an advantage, instead of List you can easily use an array.
HashSet maybe if you want to reinforce that the objects should be distinct, otherwise you can also just use an array.

Queue and Stack, etc are probably not relevant. 😂

---------------

It failed on deserialization on th

[2019-03-21 18:04] #114 closed

[2019-03-21 18:08] Zaid-Ajaj commented on #114
It seems that `List<'t>` is already supported so I have added support for dictionary and hashset. A package has been released at `5.1.0-beta` using latest Fable and will be available soon when nuget finishes it's magic

Let me know if anything doesn't work properly :smile:

[2019-03-22 13:18] 0x53A commented on #114
Thank you!

I can't yet update and test, because the dependency on ``Fable.Core (3.0.0-beta-005)`` breaks ... a lot.

But the workaround works for the short term, and when I update I can then prettify my domain models again.

[2019-03-26 17:42] 0x53A opened #116 "[Idea] add a high performance path with binary transfer and direct access to an ArrayBuffer"
_This is a bit different from the current goal of Fable.Remoting, and may be out-of-scope for you. But I like the programming model of Fable.Remoting. So I wanted to at least ask you for your opinion._

Even though the below suggestion is already detailed, I'm not too married to it. I would just really like _any_ way to transfer big(ish) blobs without the (de)serialization overhead.

-------------

[2019-03-26 19:13] Zaid-Ajaj commented on #116
This is an interesting idea, though normally I would suggest to keep doing what you are already doing: a seperate handler for very specific non-Remoting work such as this one. But if we look at the issue from the perspective of "Byte deserialization is slow for big arrays" then I can give it a try:

I am thinking about an example implementation and my only conditions for is feature are:
 - To be h

[2019-03-26 19:35] 0x53A commented on #116
You are right, I was thinking too complicated again. 🤦‍♂️

Just special-casing ``byte array`` should work, Fable already represents them as ``UInt8Array``.

-----------------------------

Tbh I didn't profile the browser, and in my first prototype it was a little bit more complicated - I had a ``Map<int, byte [] []>``, so it wasn't just one big byte array but many medium sized. But conversions to/

[2019-03-29 02:26] #116 closed

[2019-03-29 16:56] Zaid-Ajaj opened #120 "New features announcement"
This is a little summary of the new feature releases in the Fable.Remoting family of packages

- Support for Fable 2.2: still is beta and Fable.Remoting.Client already supports it.
- Support for additional BCL collections (see [Fable.SimpleJson/#25](https://github.com/Zaid-Ajaj/Fable.SimpleJson/pull/25)) such as `Dictionary<'t, 'u>` and `HashSet<'t>`
- Automatic request cancellation if request is

[2019-03-29 17:02] #120 closed

[2019-04-12 11:59] Dzoukr opened #121 "Failure with transferring 'obj'?"
Hello @Zaid-Ajaj,

it's been a while. Today I found strange issue and not sure if it's bug or I do it wrong.

I have an API definition:

[code]

with default implemenation:

[code]

Transfer is ok

![image](https://user-images.githubusercontent.com/851307/56035547-ccf30900-5d2a-11e9-96b7-ea7a481c145b.png)

But on Fable side i got to error part of `Cmd.ofAsync` function:

![image](https://user-imag

[2019-04-12 16:46] Zaid-Ajaj commented on #121
Hello Roman!

At first glance, this error is expected to happen: the client cannot infer type information from the data at runtime (i.e. the type of the the boxed inner value), only metadata that is types available at compile-time.

Basically when you say: "Here is an `obj`" the client goes `¯\_(ツ)_/¯` "What do I do with it?".

So can you help me out a bit here:
 - Why are you boxing values??
 - W

[2019-04-13 10:48] Dzoukr commented on #121
Hello!

I am trying to work Azure Search API, which is very vague about what kind of values are returned in thing called Facet.

I have basically shared type:

[code]

The `obj` here can be `string`, `decimal`, `int32` or `int64` . Actually, I don't care about value on frontend, I just need to display it (`.ToString()`)

To achieve it, I currently created my own `FacetValue` union with describing

[2019-04-13 12:53] Zaid-Ajaj commented on #121
This is the right way to do it! Though you can simplify the the type you send to your frontend to something that only includes the formatted string if you only need the `.ToString()` representation

It is technically possible to send `obj` of primitive values to the client and with some clever tricks, be able to work them there too

but this "feature" has many downsides:
 - You still have to type-

[2019-04-13 12:56] #121 closed

[2019-04-13 17:59] Dzoukr commented on #121
Thanks @Zaid-Ajaj for great explanation and fully agree - because of one uncommon use case you should not put stability of such great library in risk.

Anyway, that's why I like talking with you - one can always learn something new. Thanks again!

[2019-04-13 23:37] Zaid-Ajaj commented on #121
Thanks Roman for the kind words, really appreciate it :heart:

Keeping the features at a bare-minimum has indeed resulted in a stable library yet these bugs still creep out every now and then so thanks a lot for taking the time to report these issues!

[2019-04-15 10:14] ardave opened #122 "KeyNotFoundException on server deserialization in limited scenarios"
I have a single-case union like this:

`type RemoteWork = RemoteWork of string`

My Fable/Elmish app has type for ViewModels which collects user input that will eventually wind up as domain entity properties, like this:

[code]

I map the viewmodel to the domain entity on the client.  The domain entity type is defined in a project which is shared between the client and server.

It is the domain en

[2019-04-15 10:28] Zaid-Ajaj commented on #122
Hello David, this looks very strange indeed. In the failing case `{  "RemoteWork": "Fully Remote" }` is incorrectly *serialized* from the client as it should have been
[code]
or
[code]

Two questions come to mind:
- Can I assume that `model.RemoteWork` is of type `RequiredInputItem<RemoteWork>` and not `RequiredInputItem<string>`? (in the latter case it shouldn't be able to compile but just to be

[2019-04-15 12:36] Zaid-Ajaj commented on #122
I have added your code sample to the integration tests and everything seems to work just fine using latest versions.
[code]

I added these types:
[code]

and a function `echoRemoteWorkEntity : RemoteWorkEntity -> Async<RemoteWorkEntity>`
then in my test that works:
[code]

Maybe it is that you are using incompatible Fable setup? I see you are using `dotnet-fable` where as `fable-compiler` version

[2019-04-15 12:42] ardave commented on #122
I have a fair amount of hand-written thoth serialization in this same project (used for purposes unrelated to client<->server comms), which looks like it might be broken by moving to these newer *beta packages.

I might instead look for some time to put together a throwaway project to first duplicate this issue and second, to see what happens when I update it to Fable.SimpleJson 3.1.1-beta.

[2019-04-15 13:06] Zaid-Ajaj commented on #122
That sounds like a good idea. Just to be sure, can you please log `myEntity` to the console before sending it to the server to see how it looks like?

[2019-04-16 00:46] ardave commented on #122
I have found the source of my troubles, and it was all in code on my end, and not version-dependent.

Consider the following code:
[code]

Where `wrap` is the single-case-union (SCU) constructor function for one of any number of such types that I have created to distinguish various types of strings.  OnChangeMsg is the Elmish message that is sent whenever a radio group item is clicked, and that ms

[2019-04-16 00:46] #122 closed

[2019-04-16 13:14] Zaid-Ajaj commented on #122
Indeed this is way far downstream, I am glad to hear that you could find it, must have been tedious! I personally try to avoid any usage of dynamic operators in application code, only in libraries hidden away behind type-safe public APIs.

In your case, I guess you could use the same string value `s` coming from `HtmlEncoded s` as your input string for the message you wanted to dispatch, i.e.:
[co

[2019-04-16 13:52] ardave commented on #122
I definitely like that better.  I think maybe some copypasta from an `input type = "text"` elsewhere lulled me into using the dynamic operator in a place where it just wasn't necessary.

Thank you again for all of your help.

[2019-04-18 22:36] jfrank-summit opened #123 "expression expected to have type readystate"
I'm getting this error while trying to mess around with the Fable 3.0 upgrades. I took out remoting and everything (but remoting, of course) works. Any ideas? Do you need more info? Thanks!

ERROR in ./.fable/Fable.Remoting.Client.5.3.0-beta/Http.fs
Module Error (from ./node_modules/fable-loader/index.js):
C:/repos/VSTS/Summit/Summit.CRM/.fable/Fable.Remoting.Client.5.3.0-beta/Http.fs(57,19): (57,

[2019-04-18 22:46] Zaid-Ajaj commented on #123
Hello Jeremy, this error occurs if you are Fable.Browser.XMLHttpRequest version 1.0 instead of pre-release version that Table.Remoting.Client depends on. Can you please check if that is the case?

Remoting is still in beta because Fable 3.0 just went stable yesterday so I will publish a stable release this weekend

[2019-04-19 00:40] jfrank-summit commented on #123
Thanks for the quick reply! The only version I see is 1.0 (don't see a pre-release) and still not working but I understand it's beta. Thanks for your hard work, looking forward to stable versions!

[2019-04-19 03:07] jfrank-summit commented on #123
I got it to work. 1.0 is newer than the Fable.Browser.XMLHttpRequest 1.0.0-alpha-001. I had to reference the alpha version directly. Thanks!

[2019-04-19 07:56] Zaid-Ajaj commented on #123
No problem! Indeed the version `1.0.0-alpha-001` is the pre-release version.

I think you can even remove the Fable.Browser.XMLHttpRequest reference all together from your packages and the right package will be automatically downloaded because it is a transitive dependency of Fable.Remoting.Client

[2019-04-19 09:30] Zaid-Ajaj commented on #123
Published stable Remoting.Client v5.3.0, should be available soon when nuget finishes validating/indexing etc.

[2019-04-19 09:30] #123 closed

[2019-04-20 23:21] jfrank-summit opened #124 "Singe Case Union = Blank"
I may be doing something wrong but this worked before the Fable 3 upgrades. When I send a single case union over remoting it shows up blank.
The lines with dates are generated by "getOrgList", which is pulling from a database, converting to domain and returning that. See below:

[code]
Thanks!

[2019-04-20 23:36] Zaid-Ajaj commented on #124
Hello there,
Can you please provide more information: How does your Single Case Union type look like and how the protocol function is defined?

Thanks

[2019-04-20 23:43] jfrank-summit commented on #124
As I was pulling the code together I decided to try something: I had Name as private with a public constructor. When I took off private, it worked. Still a little strange to me as it worked outside of the local context in other places but I'll confess to hacking this together so who knows!

[2019-04-20 23:43] #124 closed

[2019-04-20 23:52] Zaid-Ajaj commented on #124
Private fields are not serialization-friendly, Fable.Remoting expects to work with public fields in records

[2019-04-21 00:43] jfrank-summit commented on #124
makes sense.Thank!

[2019-05-31 11:05] kMutagene opened #125 "Server returns empty response when handling of the request takes long"
I am not sure if this is the right place to ask this question, but i am running out of ideas.

I am using Fable.Remoting in a SAFE stack application (using suave on the server side). I am sending a post request than contains an array of data, which is handled by the server. The server then applies a function to the data and returns the result. Depending on the size of the input array (an array of

[2019-05-31 11:58] Zaid-Ajaj commented on #125
Hello there @kMutagene,

Fable.Remoting doesn't do anything with respect to timeouts. The error returned says: `"Http error from server occured while making request to /api/ITargetPApi/FastaFileRequest"` This means that an *exception* has been thrown on the server! The response text is empty because you most likely haven't propagated the server-side errors to the client.

Please see the [Error Han

[2019-05-31 14:16] kMutagene commented on #125
Hi @Zaid-Ajaj ,

thank you for the quick response. While i may not fully understand the error handling yet, this should propagate basically all errors right?

    let errorHandler (ex: Exception) (routeInfo: RouteInfo<HttpContext>) : ErrorResult =
        // do some logging
        printfn "Error at %s on method %s" routeInfo.path routeInfo.methodName
        // decide whether or not you want to p

[2019-05-31 14:24] Zaid-Ajaj commented on #125
Yes, your response text will be
[code]
if you just want the exception message then use this `errorHandler`:
[code]
Then the response will be
[code]
Don't forget to use the `errorHandler` in your API definition:
[code]

[2019-05-31 14:33] kMutagene commented on #125
Again, thanks for the help!

This is my code:
[code]
However, the response text is still empty:

![image](https://user-images.githubusercontent.com/21338071/58712670-4e792600-83c1-11e9-96cf-0daa8610b83e.png)

I enabled verbose logging of suave. This reports the following error:

![image](https://user-images.githubusercontent.com/21338071/58712724-71a3d580-83c1-11e9-838d-ce5a7207fb7e.png)

So if i

[2019-05-31 15:03] Zaid-Ajaj commented on #125
Hmm this is strange, I was checking the errors returned from the server and it seems the error you are seeing is coming from a very old release of `Fable.Remoting.Client`, are you using Fable 1.x with Fable.Remoting.Client `v3.3.1`? It is not guaranteed that this is version works with latest `Fable.Remoting.Suave`. Actually I am pretty sure it will go wrong...

Can you please list the versions of

[2019-05-31 21:59] kMutagene commented on #125
This is my paket.dependencies file:
[code]

[2019-05-31 22:26] Zaid-Ajaj commented on #125
Hmm alright, these versions are actually pretty recent (although not latest) 🤔 and they *should* work properly, so it is the error coming from Suave

[2019-06-01 09:09] kMutagene commented on #125
Okay i will ask there if someone can explain the cause of this error then, thank you very much for your help!

[2019-06-01 09:09] #125 closed

[2019-07-30 16:39] 0x53A opened #126 "FableConverter incorrectly lowercases [<StringEnum(CaseRules.None)>]"
As the title says, I have an enum:

[code]

FableConverter then lowercases it anyway, causing issues on the client

https://github.com/Zaid-Ajaj/Fable.Remoting/blob/a9f65b819c02200fd42a3c4b7762d91842804e52/Fable.Remoting.Json/FableConverter.fs#L215-L221

[2019-07-30 16:42] 0x53A commented on #126
Workaround:

[code]

[2019-07-30 17:51] 0x53A opened #127 "json serialization is relatively expensive"
Hi @Zaid-Ajaj , it's me again :D

I have a remoting api that returns an object graph with a lot of little objects.

![image](https://user-images.githubusercontent.com/4236651/62150770-19288000-b2ff-11e9-8bad-fd0214acb376.png)

Of the total time spent, 5% is my (non-trivial) processing, 95% is json serialization. The total duration is about 10 seconds.

Looking at the lower table shows the possible

[2019-07-30 17:53] Zaid-Ajaj commented on #126
Hello @0x53A thanks a lot for reporting the issue. I am glad you found a workaround. I will get to solving it shortly :smile:

[2019-07-30 18:10] Zaid-Ajaj commented on #127
Hello there,

Thanks for the detailed report! It would be great to have JSON benchmarks :rocket: preferably in a separate repository and a clone of Fable.Remoting.Json with changes made to it so we can see how they compare to each other instead of starting to mess with the code here with prototypes.

Do you have a type you can share here with a lot of nested records / fields that generates a 8-10

[2019-07-30 19:04] 0x53A commented on #127
https://github.com/0x53A/FableRemotingSerializationTest

It isn't much of a benchmark (yet).

I dumped an object from my dev environment and copied all the type definitions into a new project.

The json is about 5 MB.

![image](https://user-images.githubusercontent.com/4236651/62157452-7dead700-b30d-11e9-9613-9125db42dc62.png)

[2019-07-30 19:57] Zaid-Ajaj commented on #127
Thanks for the repro, it looks good and I will try it out soon 👌

[2019-07-31 16:25] #127 closed

[2019-07-31 18:01] 0x53A opened #129 "Client side performance: deserialization"
Continuation of https://github.com/Zaid-Ajaj/Fable.Remoting/issues/127

Deserializing the same (well, similar) data on the client takes 17.7 seconds. My own processing afterwards takes 3.3 seconds, so from a user perspective, if serialization costs were completely eliminated, it would reduce time from 21 seconds to ~4 seconds.
(Tbh I doubt similar savings to the server side are possible, but you n

[2019-07-31 18:15] 0x53A commented on #129
What would be the easiest way to set up a SimpleJson benchmark? A node program that reads a json file from disk?

I've never used node before 😅

[2019-07-31 19:02] Zaid-Ajaj commented on #129
This is indeed trickier than in dotnet and I doubt the even possibility of completely eliminating deserialization time because there still are a lot of runtime decisions that are simply required but I think there is place for improvement regarding `createTypeInfo` as it creates a lot of closures and gets called from `Convert.fromJsonAs` whenever this function encounters any generic type. I know th

[2019-07-31 22:47] sheganinans opened #130 "Subroutes"
Using the SAFE template, so in `Shared.fs` I have:

[code]

On the Server:
[code]

On the Client:
[code]

The problem I have is that I would like to put `exampleRouter` behind a subroute, something like `localhost:8080/example/api/.../`

I'm doing this so that I can have some `otherRouter` alongside `exampleRouter`, such as:

[code]

However everything I've tried so far ends me up with a 404

[2019-07-31 22:59] 0x53A commented on #130
I don't know the difference atm, but I think I am using "route" without the "sub" successfully. Can you try that? Otherwise I can look up the exact code I use tomorrow.

[2019-07-31 23:09] sheganinans commented on #130
@0x53A I tried something like that but it didn't work.

Exactly what I want to be able to do is to have the user browse to `www.webpage.com/example` and have the index page for `IexampleApi` load and then have them browse to `www.webpage.com/other` and have the index for `IOtherApi` load.

[2019-07-31 23:15] sheganinans commented on #130
That would likely require two separate clients talking to the same server. Could be simpler to just have two separate servers..

[2019-08-01 00:41] sheganinans commented on #130
I guess I need to add to the webpack config

[2019-08-01 11:31] Zaid-Ajaj commented on #130
Hello @sheganinans, it should work if you add the subroute prefix in the route builder implementation and not inside Giraffe subsroute like this:
[code]
Then when setting up the HttpHandler you can add your prefix:
[code]
Can you give it a try?

[2019-08-01 13:01] 0x53A commented on #129
Thanks! With your setup I was able to get it running quickly:

This is with a simple cache for 'createTypeInfo':

(I had to cache based on the type name, not the type object itself, because apparently equality doesn't work for types in fable)

https://github.com/0x53A/simple-json-benchmarks/commit/cefd995beac1fffc470cbf9b57258e1fdfabc784

![image](https://user-images.githubusercontent.com/4236651/

[2019-08-01 13:39] Zaid-Ajaj commented on #129
Indeed not bad at all, the numbers look good!

I will move this issue to SimpleJson because there is nothing to do here until a new version of SimpleJson is released

[2019-08-02 01:52] sheganinans commented on #130
@Zaid-Ajaj Ok, thats seems right. Now the question is, if I wanted to add a second router, with its own index page, that would require quite a bit more work?

[2019-08-02 10:29] Zaid-Ajaj commented on #130
@sheganinans Yes it is a bit more work, follow [webpack's config](https://webpack.js.org/concepts/entry-points/#components/sidebar/sidebar.jsx) of setting up multiple entry points. I will close this issue since it is not specific to this library

[2019-08-02 10:29] #130 closed

[2019-08-02 11:24] Zaid-Ajaj opened #132 "Support anonymous records as generic type arguments"
This type of remote function is not being properly deserialized
[code]
Possible solution: do not cache generic types that have anonymous records as type arguments from SimpleJson

[2019-09-04 12:22] isaacabraham opened #134 "Support standard Tasks"
Any plans to support regular .NET tasks in addition to `async` workflows?

[2019-09-04 12:25] Zaid-Ajaj commented on #134
Hello @isaacabraham, AFAIK Fable doesn't support Task yet, so it doesn't really make sense to support it yet out of the box and the workaround is as simple as `Async.AwaitTask`

[2019-09-04 12:26] isaacabraham commented on #134
Yes true. I was thinking more in terms of server-side (i.e. using Task there) but of course that's not possible as we have a typed contract between both sides (which is the whole point of remoting...). Closing :-)

[2019-09-04 12:26] #134 closed

[2019-09-06 19:46] ScottShingler opened #135 "Client always sends null input parameter to functions with return type Async<Unit>"
Given the following API definition:

[code]

And the following client-side invocation:

[code]

Upon processing the `DoSomething` message, the client will POST to the `doSomething` endpoint with a payload of `[null]`.

On the server, I see the following:

[code]

In the transpiled JavaScript, I see that the `doSomething` function has a hardcoded `null` parameter.

However, when the client processe

[2019-09-06 19:59] Zaid-Ajaj commented on #135
Hello @ScottShingler, thanks a lot for filing the issue, I will look into it very soon in the next few day. I was pretty sure that returning `Async<unit>` was supported so it could be a currying issue, can you try using the following:
[code]
Also would be great if you have a sample repo where I could reproduce the problem :)

[2019-09-06 20:48] ScottShingler commented on #135
Hi @Zaid-Ajaj, thanks for the lightning-fast reply! I tried your suggestion, but the behaviour remains the same. I will try to set up a repro repo.

[2019-09-06 21:03] Zaid-Ajaj commented on #135
Awesome, thanks a lot!

[2019-09-07 01:42] ScottShingler commented on #135
@Zaid-Ajaj, I have created a repro here: <https://github.com/ScottShingler/Fable.Remoting-Issue-135-Repro>.

Also, I realized I have a small typo in my example above:

[code]

`fileId` should have been `x`:

[code]

I don't believe the typo has any bearing on the issue. I hope the repro will be useful.

[2019-09-07 01:52] ScottShingler commented on #135
Something interesting I observed - it appears to be related somehow to the paket dependencies. If I create a new SAFE project using `dotnet new SAFE -la none -c remoting` and set up the API, it works correctly. However, if I modify `paket.dependencies` as I have in the repro, it seems to bring about the error.

[2019-09-07 04:41] Zaid-Ajaj commented on #135
Hmm it could be that the reflection type information is not updated when you add new packages so you have to reset some cache by deleting obj en bin directories, then restarting the build, would you please give that a try?

[2019-09-07 13:21] ScottShingler commented on #135
I tried clearing out cached files, but the behaviour stays the same.

In my previous comment, I mentioned how my code running in a project created with `dotnet new SAFE -la none -c remoting` works correctly. It turns out if I simply delete the `paket.lock` file and run `fake build -t run`, the problem appears.

I have updated my [repro](https://github.com/ScottShingler/Fable.Remoting-Issue-135-Rep

[2019-09-09 10:06] Zaid-Ajaj commented on #135
@ScottShingler I am indeed to reproduce the problem and it looks like a Fable issue, if you change the `update` function to the following:
[code]
Then it works! Notice that I changed the way you call `Server.api.doSomething` so it is not really a Fable.Remoting issue, I will try to make a small repro and re-issue this on Fable repo, meanwhile I am keeping this one open :smile: Thanks a lot for you

[2019-09-09 21:13] Zaid-Ajaj commented on #135
OK, I am not able to reproduce this anywhere else other than your repro code 😓 it might just the wrong combination of old packages and Fable not able to create the write closure. I will write some tests for `Async<unit>` (I thought I had some) to make sure the code works as expected as of the latest versions.

[2019-09-11 19:01] ScottShingler commented on #135
@Zaid-Ajaj Thank you for taking the time to investigate this. Indeed, your suggestion to change how I call `Server.api.doSomething` works.

Could you post the contents of your `paket.dependencies` and `paket.lock` files? It could help me to figure out where my versions are not lining up.

[2019-09-11 20:11] Zaid-Ajaj commented on #135
My lock file is the same one you gave me in the reproduction project which indeed latest versions of Fable.Remoting stuff, I even updated to latest Fable compiler/splitter/loader and concluded that the problem isn't related to Fable.Remoting but it is a Fable bug, if you change your `Server` module to the following, then it still fails
[code]
then the given argument to `doSomething` stays `null` u

[2019-09-11 20:11] #135 closed

[2019-09-17 04:25] tforkmann commented on #134
Just wanted to open the same issue. The workaround is easy but it would be nice to just use tasks instead of async...

[2019-09-17 09:28] tforkmann opened #136 "How do you do streaming"
Hi there,

how can I write to a stream with Fable.Remoting?
I would like to stream a excel file.

My old Giraffe code looks like that:

[code]

Any help would be appreciated.

[2019-09-17 09:47] kerams commented on #136
Remoting is just one handler, so you can compose it with yours too. This is working for me:
[code]

[2019-09-17 11:33] tforkmann commented on #136
Ok thanks!

I'm using Saturn though. Do you know how to plug them together with Saturn?

[2019-09-17 11:38] kerams commented on #136
Sorry, haven't tried Saturn myself.

[2019-09-17 11:46] tforkmann commented on #136
Ok just found it out:

you just have to add them together like this;

´let octoBusApiHandler : HttpHandler =
    Remoting.createApi()
    |> Remoting.withRouteBuilder Route.builder
    |> Remoting.fromContext octobusApi
    |> Remoting.buildHttpHandler

let webApp = router {
    getf "/api/GETEXCEL/%s" ExcelExport.getExcel

}
let app = application {
    url ("http://0.0.0.0:" + port.ToString() + "

[2019-09-17 12:09] Nhowka commented on #136
Checking the code, `use_router` accepts a single router, overwriting the first one. You can add them together using the `choose` function before passing it to `use_router`.

[2019-09-17 12:18] tforkmann commented on #136
```use_router (choose [webApp;octoBusApiHandler]) ```

[2019-09-17 12:19] tforkmann commented on #136
thanks guys!
:D

[2019-09-17 12:19] #136 closed

[2019-09-17 12:39] Zaid-Ajaj commented on #136
Hello Tim!

Streaming in the sense of streaming videos or other kinds of media is not supported via Fable.Remoting but in your case, file download *is* supported: remote functions that return `Async<byte[]>` are optimized and are returned via the response stream as raw binary data with content type `application/octet-stream` so your server side function becomes:
[code]
That's it! Fable.Remoting wi

[2019-09-18 04:12] brettrowberry opened #137 "Azure Functions"
Fable.Remoting is awesome in Giraffe and Saturn. Would it be possible to make it work with Azure Functions? I don’t have any clue what this would look like, but having API in Azure Functions and a static site as Blobs is a really cheap way to run a website.

[2019-09-18 08:29] Zaid-Ajaj commented on #137
Hello Brett!

Remoting can be used with Azure Functions as a backend the same way any Giraffe or Saturn application works in Azure Functions, after all, you only get a `HttpHandler` and wherever you host it is up to you.

Here are a couple of applications that use Azure Functions with Remoting:
  - [Fantomas UI](https://gitlab.com/jindraivanek/fantomas-ui)
  - [Yobo](https://github.com/Dzoukr/Yobo

[2019-09-18 22:07] #137 closed

[2019-09-20 18:39] G5Becks opened #138 "What types are Serializable"
Hi, sorry if this question is already answered elsewhere, but I am new to Fable/F# and Fable.Remoting. I read the docs and could not find any specific information regarding what is and is not serializable when using this library. If it is documented elsewhere, could you please provide a reference.

Thanks.

[2019-09-20 19:18] Zaid-Ajaj commented on #138
Hello there @G5Becks, It is indeed not documented, usually you will find the supported types in [this test file](https://github.com/Zaid-Ajaj/Fable.Remoting/blob/master/Fable.Remoting.IntegrationTests/Shared/SharedTypes.fs) where I define the shared types I test this library with. In summary,
 - All primitve types (among unit/byte[]/DateTime/DateTimeOffset/bigint/decimal/int64)
 - Optional types

[2019-09-20 19:32] G5Becks commented on #138
Hi, That's all I needed to know! thanks a lot for the fast response.

[2019-09-20 19:32] #138 closed

[2019-10-24 12:07] #132 closed

[2019-11-15 12:31] markCompostional opened #145 "Invalid cast invoking function "Map<int * int,int> -> Async<bool>""
See

https://github.com/markCompostional/ElmishRemotingMapIssue

description of issue, code and instruction of how to reproduce there.

server reports

info: Microsoft.AspNetCore.Hosting.Internal.WebHost[1]
      Request starting HTTP/1.1 POST http://localhost:8085/api/ICounterApi/setMap application/json; charset=UTF-8 13
System.InvalidCastException: Cannot cast Newtonsoft.Json.Linq.JArray to Newt

[2019-11-15 12:38] Zaid-Ajaj commented on #145
Hello @markCompostional, thanks a lot for the detailed issue and for the repository to reproduce the problem, I will look into it ASAP :smile:

[2019-11-15 12:41] markCompostional commented on #145
I’ve got a workaround using just list, so no panic.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Zaid Ajaj <notifications@github.com>
Sent: Friday, November 15, 2019 12:38:55 PM
To: Zaid-Ajaj/Fable.Remoting <Fable.Remoting@noreply.github.com>
Cc: Mark Nicholls <mark@compositional-it.com>; Mention <mention@noreply.github.com>

[2019-11-15 14:28] #145 closed

[2019-11-15 14:41] Zaid-Ajaj commented on #145
Hello @markCompostional, this should be fixed if you update your Giraffe adapter from v3.10.0 -> v3.11.0
[code]
I tried it in the repro you posted and no errors occur, can you confirm? Please re-open the issue if the problem persists :smile:

[2019-11-15 14:42] markCompostional commented on #145
Let me try

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Zaid Ajaj <notifications@github.com>
Sent: Friday, November 15, 2019 2:41:56 PM
To: Zaid-Ajaj/Fable.Remoting <Fable.Remoting@noreply.github.com>
Cc: Mark Nicholls <mark@compositional-it.com>; Mention <mention@noreply.github.com>
Subject: Re: [Zaid-Ajaj/Fable.Remoting] I

[2019-11-15 14:44] markCompostional commented on #145
Works for me!

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Zaid Ajaj <notifications@github.com>
Sent: Friday, November 15, 2019 2:41:56 PM
To: Zaid-Ajaj/Fable.Remoting <Fable.Remoting@noreply.github.com>
Cc: Mark Nicholls <mark@compositional-it.com>; Mention <mention@noreply.github.com>
Subject: Re: [Zaid-Ajaj/Fable.Remoting

[2019-11-15 14:48] Zaid-Ajaj commented on #145
Awesome 🎉 thanks for confirming

[2020-03-14 06:47] Dzoukr opened #149 "Question: Adding withAuthorizationHeaderBuilder"
Hello @Zaid-Ajaj!

Great article about Fable.Remoting from @JamesRandall (https://www.azurefromthetrenches.com/token-authentication-with-fsharp-safe-and-fable-remoting/) brought me to one idea. What about extend `RemoteBuilderOptions` to have something like:

[code]

and use it like:

[code]

and such function will be used in `Proxy.fs` when creating request? This one is to keep it as feature (no

[2020-03-14 12:34] Zaid-Ajaj commented on #149
Hello Roman! This is actually a really good question. I have thought about this before and dicussed it at length with @mvsmal in [Add resolve function for Authorization header](https://github.com/Zaid-Ajaj/Fable.Remoting/pull/103)

The problem with proposed solution is that it does not account for the many possible ways to acquire an access token:  this `resolve` function `(unit -> string)` might

[2020-03-16 06:55] Dzoukr commented on #149
Hello Zaid,

thanks for amazing response! I get your point about `resolve` function, but I think you care too much here. If someone put something failing in token builder function, it will just fail - it is responsibility of developer of such function to make it safe.

Regarding more ways ho to acquire token, I agree and you are right, there could more of them. Looking at `Proxy.fs` it seems that

[2020-03-16 11:41] Zaid-Ajaj commented on #149
I really appreciate all the feedback. Whenever I build stuff I can never know how people are using them and what the pain points are unless you actually tell me.

For this proposal however, I still strongly believe that the current of the API should stay as is because even though it makes things *look* simpler, they are not. Basically we will be hiding the problem and not give a way to workaround

[2020-03-16 11:41] #149 closed

[2020-03-16 11:57] Dzoukr commented on #149
Thank you anyway, really! It is kind of refreshing to sanely discuss, not getting into agreement and still have (hopefully mutual) good feeling about it. Something extraordinary in these days, I would say. ❤️ Have a great day and thanks for samples - it will help!

[2020-05-12 06:55] OnurGumus opened #151 "Ability to deserialize private constructors"
Here's my failing case:
[code]
Fails with
[code]

Removing the `private` fixes the problem. However it should be supported imho.

[2020-05-13 11:53] #151 closed

[2020-05-18 15:44] Zaid-Ajaj opened #153 "Do not ignore response text when the server throws for Async<byte[]> functions"
Convert the response back to text from binary format on the client when the server throws for functions that return `Async<byte[]>`

[2020-05-19 20:23] #153 closed

[2020-05-20 08:44] kerams opened #154 "Check file size before uploading on the client"
Limits in WebApiShared

If too big, alert the user.

[2020-05-20 08:51] Zaid-Ajaj commented on #154
Hi @kerams, can you please elaborate on the issue?

[2020-05-20 09:41] kerams commented on #154
Oh lol, this was meant to go in a different repo, sorry ;D

[2020-05-20 09:41] #154 closed

[2020-05-28 19:29] markpattison opened #155 "How to pick up correct URL with an Azure Web App virtual application?"
I'm using Saturn (pretty much a standard SAFE-Stack setup) and deploying to an Azure web app.  I'm struggling to get the client to call the correct API address when I deploy to a virtual application.

For example, assuming the web app is at `www.appname.com`, then the virtual application is at `www.appname.com/virtualappname`.

The API is therefore at `www.appname.com/virtualappname/api/ISomeApi/`

[2020-05-28 21:25] Zaid-Ajaj commented on #155
Hello @markpattison, I had this problem ever since I started using Fable.Remoting and the solution is quite simple: check out [this setup](https://github.com/Zaid-Ajaj/SAFE.Simplified/blob/master/client/src/Server.fs) which normalizes the path based during production based on the virtual path of the host.

[2020-05-28 21:58] markpattison commented on #155
Brilliant, thanks!  Although I'm embarrassed to see it's been in the SAFE template for over a year and I hadn't noticed...

[2020-05-28 21:58] #155 closed

[2020-06-06 07:57] forki commented on #134
@Zaid-Ajaj could you please elaborate on this? I personally would prefer to use promise {} on client and task {} on giraffe. Is this not something that would make sense?

[2020-06-06 11:04] Zaid-Ajaj commented on #134
@forki The types are shared between client and server, this means both have to understand and know how to work with the shared types. In case of task, the client doesn't understand it as of now and in case of promise, the server won't understand it either. How would you write a int -> Promise<string> on the from giraffe.

Async however, is something both client and server know how to work with dir

[2020-06-06 11:33] forki commented on #134
Ok so the whole computation is cross compiled? I thought it would just
cross compile the data transfer type and the computation wrapper would be
platform dependent

Zaid Ajaj <notifications@github.com> schrieb am Sa., 6. Juni 2020, 13:04:

[2020-06-06 11:47] Zaid-Ajaj commented on #134
No not the whole computation, just the types are cross-compiled. Async type is understood by both client and server

[2020-06-06 15:52] isaacabraham commented on #134
In other words someone would have to let Fable know what task { } should be rendered out into on the JS side.

[2020-06-06 16:04] forki commented on #134
Well I don't really understand why the client would want to know if the
internal of the server request is using async or task or returning it sync.

Isaac Abraham <notifications@github.com> schrieb am Sa., 6. Juni 2020,
17:52:

[2020-06-06 16:20] Zaid-Ajaj commented on #134
@isaacabraham Yes, but first it has to be supported in F# as a built-in computation expression which is now being implemented.

internal of the server request is using async or task or returning it sync.

@forki The client doesn't care at all about server internals. You can use whatever you want: sync, task, async. The client only cares about the definition of the functions being satisfied: **alwa

[2020-06-06 16:23] forki commented on #134
I assume we're talking different things here.

Zaid Ajaj <notifications@github.com> schrieb am Sa., 6. Juni 2020, 18:20:

[2020-06-06 16:30] Zaid-Ajaj commented on #134
I can't tell to be honest. This issue is about using `Task<'T>` as a return type in function signatures of the protocol (record of functions) definition.  Right now all functions defined in the protocol must return `Async<'T>` as follows:
[code]
Right now you can't use `Task<'T>` as a return type because the client wouldn't know how to work with it but it might be supported in the near future

[2020-06-06 16:42] forki commented on #134
Yes thanks for clarification. I misunderstood the issue here and confused
it with something different that I'm looking for.

Zaid Ajaj <notifications@github.com> schrieb am Sa., 6. Juni 2020, 18:30:

[2020-06-08 12:50] isaacabraham commented on #134
@Zaid-Ajaj yeah, I'm agreeing with you - I guess the other solution would be for the TaskBuilder has to be compiled with a Fable version in it like Thoth does?

[2020-06-08 13:29] Zaid-Ajaj commented on #134
Yeah but I believe you would a Fable-specific implementation of TaskBuilder to match runtime expectations of JS and aside from the syntax, it wouldn't really add value to `async` in Fable.

[2020-06-08 13:32] forki commented on #134
offtopic: it will be interesting to see what happens when fable will do when task {} moves into F# lang itself ;-)

[2020-06-09 12:41] isaacabraham commented on #134
@Zaid-Ajaj that's right - but it would mean on the server you could remove all traces of Async.

[2020-07-05 08:13] Shmew opened #159 "Expose private members in MsgPack Reader"
I'm trying to implement @kerams's new addition of a MsgPack (de)serializer for [Fable.SignalR](https://github.com/Shmew/Fable.SignalR/). I'm mostly bumbling around (as I have no idea what I'm doing with this stuff) trying to interface `IHubProtocol` which is pretty hard to understand.

I (most likely don't) maybe have something wired up to some extent, but due to how the message parsing is handled

[2020-07-05 09:55] kerams commented on #159
Ah, so every message is wrapped in some SignalR envelope? That's a bummer. Yeah, I think you'll need to handcraft (de)serialize functions for those classes using the private members you speak of since what I wrote only works with records. Once you have that, you should be able to use `Reader.Read` on the actual message content.

[2020-07-06 04:46] Shmew commented on #159
I'm able to at least complete a handshake now, but I'm not sure how to proceed here. I made a [branch](https://github.com/Shmew/Fable.SignalR/blob/msgpack/src/Fable.SignalR.AspNetCore/MsgPack.fs) available if you're willing to take a look. I think something is wrong with how I'm crafting the more complex types as the client complains about an incomplete message. I'm just trying with the signalr cl

[2020-07-06 16:10] kerams commented on #159
Hey, @Zaid-Ajaj, on a somewhat related note, @Shmew suggested that the Message Pack implementation would get treeshaken by Webpack if not used. Can you somehow verify it? It would allow us to implement serialization on the Fable side too (for SignalR but also paving the way to having binary serialized API requests) with no concern for bundle size.

[2020-07-06 16:25] Shmew commented on #159
At the very least you can make everything inline and erase the modules. Fable does not compile inline functions unless used.

[2020-07-07 08:23] Zaid-Ajaj commented on #159
I believe the implementation is *used*, except that it is not *executed* which is a subtle difference but is very important: the logic that makes the decision on whether or not the binary protocol should be used, is executed in runtime so I am guessing that  this information is not statically known for the Fable in order for it to erase the implementation.

Anyways, I shouldn't guess these things

[2020-07-07 14:14] Shmew commented on #159
Two questions:

* How big is the compiled file for the msgpack support? - Is this actually an issue?
* What about making them open a namespace to opt-in so Fable *does* know for sure if it's possible to use or not?
* Should we just inline all the calls? Then the compiled file is virtually empty unless called.

[2020-07-09 17:24] Zaid-Ajaj commented on #159
The implementation looks minimal so I don't think it matters "that much" of course we can always squeeze out more bundle size optimizations. The first one of which would be removing `Fable.Parsimmon` as a dependency from `Fable.SimpleJson` and we automatically get a nice bundle size decrease (didn't have time to get into that yet)

However, if we get to the original issue, is there something we ca

[2020-07-09 19:49] kerams commented on #159
If I implement Fable deserialization, then the members may supposedly stay private (unless you still want them public). I won't get around to doing that before Monday though.

[2020-07-09 19:59] Shmew commented on #159
yeah if we have fable serialization then it will all *just work*™ after I do some minor changes to my repo

[2020-07-15 21:40] halcwb opened #162 "How to share code and or types from other projects or libs?"
I have the following setup:

- proj Lib uses the Shared.Dose type and creates the type
- proj Server returns a Shared.Dose type in the ServerApi

However I then get:

How can you return a shared type from a different lib? Only by just copying over?

Update: created a [repository](https://github.com/halcwb/RemotingShared) demonstrating my problem.

[2020-07-15 21:57] Zaid-Ajaj commented on #162
Hi Casper, I don't really follow your issue 🤔 are you getting a compile error in the server-side part?

Using shared types is possible, you only have to share them between client and server and not *duplicate* them:
[code]
Then client and server will be able to use `Shared.MyType` both on client and server (and in the shared protocol definition)

[2020-07-15 22:04] halcwb commented on #162
I am sorry this was a bit vague but the setup is:

|
| -- Shared
          | -- MyType.fs
| -- Lib      --> references Shared
          | -- Creates MyType
| -- Server --> references Shared
                  --> references Lib
|         | -- Gets created MyType from Lib
| -- Client  --> references Shared

So Lib creates MyType, Server uses the create function from Lib and passes MyType on to the S

[2020-07-15 22:25] Zaid-Ajaj commented on #162
The setup looks good, I don't know why you are getting this error. Is it a compile-time error? Maybe delete bin/obj folders and try build again?

[2020-07-16 04:33] kerams commented on #162
@halcwb, when you say `references Shared/MyType.fs`, do you perhaps mean you use a file link? The fact that you do it in 2 backend projects could be the problem (`Dose` in each of the projects is a different type then).

[2020-07-16 06:54] halcwb commented on #162
@kerams You'r right, we are talking about file links. The shared files are meant to provide code sharing between the client and server. I think it shouldn't be a project. But I tried making Shared a project, referencing the project with the Lib and the Server, but then I run into .net version compatibility issues. The Lib project is a net46 and the Server is a netcoreapp3.1.

[2020-07-16 08:37] kerams commented on #162
There's no other way around it. You have to reference the project (target netstandard2.0).

File referencing between client and server works because client does not run on .NET, but it's still a half-assed solution compared to sharing an entire project in my opinion. In any case, this is not an issue with Fable.Remoting.

[2020-07-18 17:27] AkosLukacs opened #166 "Problem with Nullable<>"
Hi Zaid!

First I thought it's not likely that `Nullable<>` doesn't work, but looks like it's not. Found in an actual application, and later SAFE template with remoting does reproduce similar behaviour:

If there is no `Nullable<int>` in the model, everything works just fine:
![image](https://user-images.githubusercontent.com/844331/87857917-bd4d7180-c92a-11ea-8ece-ea09f85b31f8.png)

But if there

[2020-07-18 17:36] AkosLukacs commented on #166
Small update with the new binary serialization:

**JSON** serialization: doesn't work if either the server sends null or a number
**Binary** serialization:
 - does work if the server sends null
 - doesn't work if the server sends an actual number

[2020-07-18 17:49] kerams commented on #166
Yeah, I've overlooked `Nullable`. Will try to fix it in #165.

[2020-07-18 18:48] Zaid-Ajaj commented on #166
Hi @AkosLukacs,

It looks like we overlooked `Nullable<'t>` indeed because no one uses it. I was adding support for it in SimpleJson but it seems that it is not even supported in Fable 😱 using `{Nullable}.Value` and `{Nullable}.HasValue` gives me compile errors with latest Fable (2.10.1)
[code]

[2020-07-18 19:04] Zaid-Ajaj commented on #166
I filed an issue on Fable's repo [Support for System.Nullable<'t>](https://github.com/fable-compiler/Fable/issues/2121) so will wait until Fable actually supports it so that I could test my implementation fix :smile:

[2020-07-19 06:44] AkosLukacs commented on #166
Thank you for the super quick response!
Well, yes, this is what happens when the serialization "just works", and EF types creep into the client 😨
Time for some organization on my side I guess...

[2020-07-19 06:44] #166 closed

[2020-07-21 09:14] Zaid-Ajaj opened #167 "Include caveat in the docs about Option<Option<'t>> roundtrip"
Because Fable erasing `Some None` into `null` can cause problems when deserializing back to `Some None`. This is a weird edge case because `null` here can mean both `None` or `Some None`

[2020-07-21 09:15] Zaid-Ajaj opened #168 "Check why ValueSome cannot be deserialized on the Server component"

[2020-07-21 09:37] 0x53A commented on #167
I think Fable does some extra work to track Some None:

In the Fable Repl

[code]

![image](https://user-images.githubusercontent.com/4236651/88038407-76d45e80-cb46-11ea-8512-2f16fcb7c58c.png)

[2020-07-21 09:54] Zaid-Ajaj commented on #167
Hi @0x53A, thanks for checking this out! if the structure of a nested optional is maintained when transferred, then we should be able to support the conversion properly. Then I will add a couple of tests to see how it goes

[2020-07-22 09:50] halcwb commented on #162
@kerams, @Zaid-Ajaj. I am not sure that this problem can be dismissed as not a Fable.Remoting issue. This goes a bit deeper than just not being able to share types from external libraries. I have tried to isolate the problem in this [repository](https://github.com/halcwb/RemotingShared). Hope this clarifies things better, or expose something stupid I did.

[2020-07-22 10:16] Zaid-Ajaj commented on #162
Hi @halcwb, I cloned the repo and ran `fake build` and this is the error I am getting
[code]
Which makes sense because in the shared project, you can't have code that does things with `System.IO` since that is not supported in Fable. The shared project should only contain types and code that can run cross-platform (avoiding BCL as much as possible)

[2020-07-22 10:32] Zaid-Ajaj commented on #162
After removing the `Say` module from the `Shared.Lib` project and then running `fake build` again, the project compiles and bundles like it should.

[2020-07-22 11:39] halcwb commented on #162
@Zaid-Ajaj. Thanks for looking into this. But by removing the code from the Shared.Lib you remove my point I want to make. Suppose the Shared.Lib is just an external lib you want to make use of. Then you just can't use that external lib in the shared code, i.e. Shared.fs. And that's quite a limitation to consider.

Suppose in the sample project, the counter record is initiated from the external li

[2020-07-22 11:56] Zaid-Ajaj commented on #162
Actually, you can't just use any arbitrary library in Fable. There are strict requirements as to which subset of libraries are supported. Please check out [Compatibility with .NET](https://zaid-ajaj.github.io/the-elmish-book/#/chapters/fable/compatibility) and [Fable Packages](https://zaid-ajaj.github.io/the-elmish-book/#/chapters/fable/fable-packages) from The Elmish Book to understand what is su

[2020-07-22 11:56] kerams commented on #162
Yes, remapping is the only option you have with types 3rd party libraries. However, this issue is not exclusive to Fable (again, nothing to do with Fable.Remoting since you could remove it and still not be able to share types in your sample repo). Imagine you wanted to use protobuf-net to serialize a type from a library you have no control over. It's not possible, you have to remap (maybe you coul

[2020-07-22 12:13] halcwb commented on #162
@Zaid-Ajaj and @kerams. Thanks for helping me out. I have updated my demo lab project to reflect the above discussion. This is indeed not a Fable.Remoting issue, more a caveat you need to be aware of? It caught me a bit off guard.

[2020-07-22 12:13] #162 closed

[2020-07-23 15:35] Zaid-Ajaj opened #169 "Extend Fable.Remoting.Json with heuristics for unions of records"
Just like what SimpleJson is doing at the moment

![simplejson](https://user-images.githubusercontent.com/13316248/88306292-d8452a80-cd0a-11ea-865b-78f2d74c960c.png)

[2020-07-24 15:20] kaashyapan opened #170 "Dependency injection explanation in the book"
I apologize for creating an issue to ask a question. But my intention was to see if the gitbook can be improved since you have a way of explaining things in very simple language.

One of the areas of difficulty is grokking the OOP and the FP parts in a real F# project.
Thanks for breaking down dependency injection so plainly in the book.

I just wanted to probe this a bit further.

In most sample

[2020-07-24 16:10] Zaid-Ajaj commented on #170
Hi @kaashyapan, no worries at all. Issues are perfect place for questions.

It has to do with _how_ the logger is initialized in the first place. Creating a global logger works OK. However, that is not possible when you want to hook into the logging and configuration utilities (among other really useful things) provided by AspNet core which themselves can provide request specific loggers (that und

[2020-07-24 16:29] kaashyapan commented on #170
Thanks for the explanation. You are too kind.

[2020-07-24 16:30] #170 closed

[2020-07-25 23:42] #169 closed

[2020-07-29 17:10] Shmew opened #173 "Fable.Remoting.Json no longer deserializes Set"
After updating to 2.9.0 a DU that looks like this:

[code]

Gives an error of:
[code]

[2020-07-29 17:37] Zaid-Ajaj commented on #173
Do you get this error from the server side or from the client side of things?

I will check it out

[2020-07-29 17:52] Shmew commented on #173
It's on the front-end, so some sort of mis-match between Fable.SimpleJson and Fable.Remoting.Json

[2020-07-29 19:50] #173 closed

[2020-07-29 19:51] Zaid-Ajaj commented on #173
Fixed in SimpleJson v3.10.1 and updated v6.6.1 subsequently to include the SimpleJson fix

[2020-08-12 23:17] fremontmj opened #179 "Can be used with React Native?"
Hi,

I’m looking into using Fable to build a React Native app, and I’m hoping to use Fable.Remoting. Is that combination supported?

Thanks much!

[2020-08-13 06:19] Zaid-Ajaj commented on #179
Hi there @fremontmj,
According to React Native docs, it is possible to use XMLHttpRequest directly which means that Fable.Remoting.Client should work as expected when used from React Native, give it a try and let us know if you encounter any issues ;)

[2020-08-14 04:51] fremontmj commented on #179
That’s great news. Silly me, I didn’t think to look in the React Native docs, only Fable.

@Zaid-Ajaj, between writing Feliz (very cool), Fable.Remoting (very cool), and The Elmish Book (masterful), when do you have time to sleep?

Best,

Mike

[2020-08-14 04:51] #179 closed

[2020-08-14 13:48] Zaid-Ajaj commented on #179
Thanks a lot Mike :heart: really appreciate it and no worries! I do take a time off from these projects every now and then :smile:

[2020-08-20 08:26] tforkmann opened #180 "Issue with Newtonsoft.Json with the newest DotnetClient verision 3.6"
Hi Zaid,

we are getting a error message with the newest DotnetClient verision 3.4 .

Here the error message:

[code]

Any idea why this happens?

Thanks in advance,

Tim

[2020-08-20 08:41] Zaid-Ajaj commented on #180
Hi Tim,

I am not really sure why this happens, can you please provide more information about what types you are using for the data transport?

Thanks

[2020-08-20 09:03] kerams commented on #180
Weird, `JObject` is even a subclass of `JToken`.

[2020-08-20 12:07] tforkmann commented on #180
Hi there,

my api type looks like this:

[code]
[code]

[code]

I trie to exchange the data with cally the `callSafely` command

[code]

[2020-08-20 13:51] Zaid-Ajaj commented on #180
@tforkmann Do you also have latest web server component? i.e. Fable.Remoting.Giraffe or similar

[2020-08-20 18:49] tforkmann commented on #180
Just noticed I forgot to add the   `|> Remoting.withBinarySerialization` on the server side. Hope that helps. Not sure if it is mandatory for the Client.

[2020-08-20 19:10] kerams commented on #180
And it's working? `Proxy.create<_>` creates a JSON serialization client proxy that can't be paired with the `withBinarySerialization` API. Looking at https://github.com/Zaid-Ajaj/Fable.Remoting/blob/master/Fable.Remoting.DotnetClient/Proxy.fs I don't think I've mixed it up...

[2020-08-20 19:50] tforkmann commented on #180
Ok, after the `withBinarySerialization` Api I get following error msg:

[code]

[2020-08-20 20:12] Zaid-Ajaj commented on #180
@tforkmann How are creating the proxy? On the dotnet client you need

let proxy = Proxy.create<IDataExchangeApi>(router xyz, isBinarySerialization=true)

That is if you are using withBinarySerialization on the server

[2020-08-21 05:39] tforkmann commented on #180
Ahh nice!

Got it fixed with

[code]

Thanks for your help guys!

[2020-08-24 19:22] MecuSorin commented on #180
I have the same symptom. Everything is up to date.

This is the request:
[code]
and the response with full exception
[code]

Involved types:
[code]

I check if the binary serialization will do the trick for me, but didn't work either.

Any idea?

[2020-08-24 19:27] Zaid-Ajaj commented on #180
Hi @MecuSorin, thanks a lot for the full repro, I will check it out shortly. In meantime please revert to the version you were using earlier until we fix the problem.

[2020-08-24 22:09] #180 closed

[2020-08-24 22:13] Zaid-Ajaj commented on #180
@MecuSorin I was able to reproduce the problem and fix it in the Json deserialization component and updated everything downstream (DotnetClient v3.7.0 and server-side adapters) :smile: can you please give it a try and confirm that the problem actually is resolved?

@tforkmann I believe this solves the original issue as well which was due to small bug when deserializing a union case that tuple of s

[2020-08-24 23:49] MecuSorin commented on #180
Great job Zaid! You rock! It works at least in the limited scope I can test at the moment.

[2020-08-25 00:13] Zaid-Ajaj commented on #180
Great! If you find a more complicated use-case that doesn't work, just let me know!

[2020-09-19 06:11] Shmew commented on #159
I tried another go at using msg pack with SignalR, but ran into some issues.

It looks like complex unions fail to serialize correctly for example if you add this DU to the `Fable.Remoting.MsgPack.Tests/Types.fs` file:

[code]

This assertion will fail:

[code]

![image](https://user-images.githubusercontent.com/11186595/93660402-13ff2680-fa14-11ea-9b79-8ed024eee4d2.png)

Also, the way `Write.fs`

[2020-09-19 07:20] kerams commented on #159
You can use it from Fable like this
https://github.com/Zaid-Ajaj/Fable.Remoting/blob/8eaef0716f3ab0220835f146abe0b9ed22c6695f/ClientV2Tests/src/App.fs#L1321-L1332

It's far from ideal. but because of having to work around poorer support of generics and inlining in Fable, the API in the `Write` module is different between Fable and .NET. I'm not sure there's a solution to this other than splitting

[2020-09-19 08:46] kerams commented on #159
Very bizarre. if you rename `error:string option` in `Completion` to `blah:string option`, the test passes. This could be a TypeShape bug.

[2020-09-19 08:55] Shmew commented on #159
I'm very impressed you found *that* to be the cause so quickly haha.

Yeah I was aware of that after digging around, the issue is `writeObject` doesn't exist to libraries not directly referencing the package (like those in this repo).

![missing](https://user-images.githubusercontent.com/11186595/93663226-c55d8680-fa2b-11ea-937b-1fe2b1c10749.gif)

Currently I just copy and pasted the Fable only pa

[2020-09-19 09:22] Shmew commented on #159
So I converted the type parameters that were `obj` to generic types that I pass through during the setup of the service, and removed all the annotations, but I still get `Cannot serialize Object.`

![image](https://user-images.githubusercontent.com/11186595/93663740-a5c85d00-fa2f-11ea-8e8e-67e62f662c35.png)

The weird thing is that it fails on the simplest case of them: `Ping`, although that is on

[2020-09-19 10:09] kerams commented on #159
If you're doing `Write.serializeObj Msg.Ping ms`, you need to use a type annotation, otherwise all 3 generic type parameters are going to be inferred as `obj`, and it's impossible to create a serializer for `Msg<obj, obj, obj>`.

https://github.com/Zaid-Ajaj/Fable.Remoting/blob/8eaef0716f3ab0220835f146abe0b9ed22c6695f/Fable.Remoting.MsgPack.Tests/FableConverterTests.fs#L59-L61

Alternatively, you

[2020-09-20 10:41] Shmew commented on #159
It was a lot harder than I expected this all to be, but I've got it using message pack on both the client and server! Thanks a ton for all your help and efforts @kerams!

[2020-09-20 10:41] #159 closed

[2020-09-20 11:04] kerams commented on #159
Don't mention it.

[2020-09-20 16:36] kerams commented on #159
I think the simplest solution to the differing API in the `Write` module is conditionally compiling bodies, not entire functions. Something like this:

[code]

It might also be worth unifying the 2 functions, but they can't be overloads because they're not methods at the moment.

What do you think @Zaid-Ajaj, @Shmew?

[2020-09-21 00:00] Shmew commented on #159
Doing it in the function body would mean I don't need to copy and paste the write module so LGTM.

It might be worth it to add it into an additional module with required access so they need to explicitly namespace into `Fable` to use it.

That would mean if they have `Fable.Remoting.MsgPack` open they'd need to do `Fable.Write.writeObject`. Then there's little change someone stumbles into it when

[2020-09-21 00:18] Shmew commented on #159
BTW message pack support is now live in `Fable.SignalR` 0.8! I'd love it if you could review and see if there's something blatantly wrong that could affect performance if you are ever feeling bored.

[2020-09-26 00:22] Zaid-Ajaj opened #185 "Implement Remoting.Client utilities for file upload and download"
Basically a couple of (extention) functions on the client side of things:
 - `(instance: File).readAsByteArray() : byte[]` so that a `File` coming from `Html.input` can be easily turned into binary content that can be sent to the server (upload)
 - ` (instance: byte[]).download(filename: string) -> unit` for file download once someone has hold of some `byte[]` returned from the backend, we might n

[2020-09-28 00:15] Zaid-Ajaj commented on #185
Docs here https://zaid-ajaj.github.io/Fable.Remoting/src/upload-and-download.html

[2020-09-28 00:15] #185 closed

[2020-10-21 07:20] bklop opened #190 "Fable.Remoting.MsgPack compilation error after upgrading to Fable 3.0.0-nagareyama-alpha-015"
I have an Elmish/Fable.Remoting/Feliz application that I tried upgrading to 3.0.0-nagareyama-alpha-015. I'm also using the latest Fable.Remoting.

The Fable compiler fails when trying to compile the following file:
.fable/Fable.Remoting.MsgPack.1.6.0/Write.fs(10,13): (10,17) error FSHARP: The namespace 'Linq' is not defined. (code 39)

MsgPack.Write is not used by the Fable.Remoting client, correc

[2020-10-21 09:05] kerams commented on #190
I think I've seen this reported somewhere. You're right that Remoting itself does not call the Write module at all.

Try moving `open System.Linq.Expressions` (and probably the 2 TypeShape usings as well) below the `#if` on line 15 in `.fable/Fable.Remoting.MsgPack.1.6.0/Write.fs`. If that compiles, we can do the same thing in the repo (feel free to open a PR too).

[2020-10-21 10:33] bklop commented on #190
Thanks, that fixed the issue!

[2020-10-23 02:25] #190 closed

[2020-11-19 13:09] Freymaurer opened #197 "Generated Docs do not display DateTime"
Hello, i am currently adding descriptions and examples to a SAFE stack via Fable.Remoting and i noticed that any function with DateTime will not show up in the examples. In the following i'll show my most minimal example of this behavior.

[code]

[code]

[code]

![grafik](https://user-images.githubusercontent.com/39732517/99670272-92a62d80-2a70-11eb-9b62-6df7d51fad02.png)

[2020-11-19 13:42] Zaid-Ajaj commented on #197
Hi there @Freymaurer, thanks a lot for reporting the issue, I will have a look at it soon!

I am not sure whether this is just for demo purposes but you probably shouldn't use `DateTime` in the context of a web application because it doesn't account the offset of the timezone of the server vs. the timezone of the client which can give you problems that are not fun to work with at all. Use `DateTim

[2020-11-19 14:22] Freymaurer commented on #197
Hi thanks for the quick response! This was just for demo purposes. The 'DateTime' we want to pass to the server was previously requested from the server and is part of a search query.

[2020-11-22 23:45] Zaid-Ajaj commented on #197
@Freymaurer I can confirm that the docs feature is broken in latest versions. It doesn't have to do with `DateTime` per se, the examples, alias and other values aren't coming through the API for some reason. I will investigate and keep you posted

[2020-11-23 00:50] #197 closed

[2020-11-23 00:51] Zaid-Ajaj commented on #197
Fixed as of latest `Fable.Remoting.Giraffe` and other server-side packages 🚀 let me know if you encounter any more of these issues :smile:

[2020-11-24 13:35] Freymaurer commented on #197
@Zaid-Ajaj Ok i updated Fable.Remoting.Giraffe to 4.13 from my previous version 4.10. I am using it in a SAFE.template of version 1.22.4 and i get a 404 error to all Fable.Remoting related apis. Did i forget to update a dependency?

[2020-11-24 13:59] Zaid-Ajaj commented on #197
Hmm, that's weird 🤔 are you getting 404 in production or development? You _might_ need to update Giraffe or Saturn but I am not sure because it could be an issue with #187 that is implemented in v4.11 of Fable.Remoting.Giraffe

Can you please share the bit of the code where you are exposing the remoting `HttpHandler`? cc @Arshia001 might know something too

[2020-11-24 14:09] Freymaurer commented on #197
The issue appeared in this rather big project (https://github.com/nfdi4plants/Swate). I am not sure when i will get to do a minimal repo to reproduce this.

[2020-11-24 14:09] Zaid-Ajaj commented on #197
You can also enable the diagnostics logger (see [Troubleshooting](https://zaid-ajaj.github.io/Fable.Remoting/src/troubleshoot.html)) to see which routes are generated and then compare those routes with what the browser sends

[2020-11-24 14:12] Zaid-Ajaj commented on #197
@Freymaurer I see this part
[code]
Can you try removing the `@` from the route definition?

[2020-11-24 18:00] Zaid-Ajaj commented on #197
@Freymaurer Please open another issue if the problem persists to track and fix it from there

[2020-11-25 08:37] Freymaurer opened #198 "Forwarding api with saturn returns 404"
This is a continuation of issue #197. After the DateTime issue was fixed i updated from Fable.Remoting.Giraffe 4.10 to 4.13 and noticed how all apis managed by Fable.Remoting returned with 404. I looked into the issue you [linked](https://github.com/Zaid-Ajaj/Fable.Remoting/pull/187) by @Arshia001 and did some testing.

As background information, i am using the SAFE stack with saturn and this prob

[2020-11-25 09:01] Freymaurer opened #199 "Generated Docs do not display examples with > 5 parameters"
I hate to be that guy, but i just noticed that the docs don't show examples with more than 5 parameters.
 As i did not find anything about this restriction in the docs i thought i would mention it here.

[code]

[2020-11-25 09:30] Zaid-Ajaj commented on #198
Thanks a lot for the issue report @Freymaurer, this is very helpful :smile: I will investigate

[2020-11-25 09:32] Zaid-Ajaj commented on #199
Bug reports are always appreciated! I will have a look and see why it isn't working. Just to be sure, this is happening on latest Giraffe v4.13?

[2020-11-25 10:38] Freymaurer commented on #199
I use paket for packet managing and my packet.lock does show `Fable.Remoting.Giraffe (4.13)` and `Giraffe (4.1)`, which should be the newest non-preview version: https://www.nuget.org/packages/Giraffe/ .

[2020-12-08 20:33] kerams opened #201 "Fable.Remoting.Giraffe broken in Giraffe 5"
So [Giraffe 5 has switched away from TaskBuilder to Ply](https://github.com/giraffe-fsharp/Giraffe/releases/tag/v5.0.0-rc-5). Fable.Remoting.Giraffe implicitly depends on TaskBuilder through Giraffe, so if the user doesn't manually reference TaskBuilder, all method invocations fail with `System.IO.FileNotFoundException: Could not load file or assembly 'TaskBuilder.fs, Version=1.0.0.0, Culture=neut

[2020-12-09 01:58] Zaid-Ajaj commented on #201
Hi @kerams, this is indeed a bit annoying but we can manage. Here is my proposition to maintain backward-compat which is easiest to implement (even though I don't like it that much):

Duplicate the code of Fable.Remoting.Giraffe into another package (in directory Fable.Remoting.GiraffeNET5) that removes TaskBuilder, uses latest Giraffe and targets net5

Keep the Fable.Remoting.Giraffe package its

[2020-12-09 09:04] kerams commented on #201
Check out https://github.com/Zaid-Ajaj/Fable.Remoting/pull/202. It uses Async as the intermediary (Tasks from Giraffe are converted to Async and the whole Async is converted back to Task). This is ever so slightly slower than a task builder, but is a decent compromise, because it works with Giraffe 3 to 5 and depends neither on TaskBuilder nor on Ply.

[2020-12-10 05:47] Zaid-Ajaj commented on #201
Awesome! @kerams  ❤️ I merged it in and published two Fable.Remoting.Giraffe packages
 - v4.14 that depends on latest stable Giraffe v4.1
 - v5.0.0-rc-6 for net5 that depends on latest Giraffe v5.0.0-rc-6 (will keep them in sync)

The latter doesn't have a tests project but uses the same source code of v4.14 so iT sHoulD bE fInE, right? right?! 😄

Give the prerelease version a try if you have a te

[2020-12-10 08:32] kerams commented on #201
Yup, all good on my end, thanks.

[2020-12-10 08:32] #201 closed

[2020-12-10 13:15] smoothdeveloper opened #205 "extensibility point to handle fallback (or even override?) on serialization/deserialization"
cc: @kerams

I made #203 which hack support for System.Data.DataTable between a dotnet server and client (no fable involved) and thought that the library may enable extending to client code, support for adhoc serialization and deserialization of types that fall into the "can't serialize {typename}" case.

in terms of additional state needed, probably those approaches:

if you allow registering typ

[2020-12-11 11:47] kerams commented on #205
You'd need a read/write function pair on both server and client side. Then there's the question of which serialization type you're handling -- the server can send either JSON or MsgPack responses, but currently accepts only JSON. From MsgPack's side this should be straightforward since you're going to be writing/reading a bunch of bytes to/from Stream/ResizeArray using the provided functions. Howe

[2020-12-13 02:44] Zaid-Ajaj commented on #205
There are two main reasons why this is approach isn't implemented. First of all, it goes against the idea of the library to *not think about data transport*: use the library and 99-100% of what you need will be implemented, tested and tested even more across the platforms. Giving the ability to extend type mappers is like telling users to overthink and over engineer something that is otherwise eas

[2020-12-17 22:13] MargaretKrutikova opened #210 "How to make GET requests"
I apologise if I missed it somewhere in the docs, but is there a way to make GET requests?
It seems like all requests end up as POST and I can't seem to find a way to configure it.
Thanks! 🙂

[2020-12-17 22:35] MargaretKrutikova opened #211 "Handle errors with Result instead of exceptions"
From what I understand from the docs, it is possible to handle exceptions propagated from the underlying functions and return custom errors to the client.
However, all my service functions return `Async<'a, CustomError>` and I would like to process errors the same way I would do if I were to use `Giraffe` without `Remoting`, where I have control over what status code and json I return from my endp

[2020-12-18 04:50] Zaid-Ajaj commented on #211
Hi @MargaretKrutikova, from what I understood, there are two issues at hand (please correct me if I am wrong):
 - Using `Result` with `Async` when returning either data or custom errors
 - Controlling the returned status code and generated JSON

The first one is easy: just make sure you return `Async<Result<'a, CustomError>>` from the remoting functions

The second issue however, is not possible w

[2020-12-18 04:53] Zaid-Ajaj commented on #210
No worries, it is a little bit hard to find because configuring GET/POST requests happens automatically based on the remote function definitions, see [Raw Http](https://zaid-ajaj.github.io/Fable.Remoting/src/raw-http.html) to learn more. Essentially, when you have a route:
[code]
or
[code]
Then the underlying HTTP route will use `GET` HTTP verb, for all other functions, a `POST` request is used

[2020-12-18 18:09] MargaretKrutikova commented on #211
Hi @Zaid-Ajaj ! Thanks for your response 🙂
So If I return `Async<Result<'a, CustomError>>` and it returns an error when the function is called, will the api return error response with an error code?
Can the library handle validation errors as 400 Bad Request?

[2020-12-18 18:13] MargaretKrutikova commented on #210
So if following REST conventions I want to query, say, all products under a category with `/category/%categoryName/products`, there is no way to convert it to GET?

[2020-12-19 06:06] Zaid-Ajaj commented on #211
The library itself does not look at the data to determine which status code should be returned. It sounds like you want to build a standard REST API with proper status codes. In that case, Fable.Remoting might not be a good choice for you because this library lets you forget about the underlying HTTP transport and only think in terms of stateless functions: exposing a standard REST API from the de

[2020-12-19 06:09] Zaid-Ajaj commented on #210
That is correct, REST conventions aren't followed in this library. Using Giraffe on its own might be the better choice for you if you care about the details of the HTTP transport

[2020-12-19 10:07] MargaretKrutikova commented on #211
Oh, yes, that makes sense 🙂
I just tried returning `Async<Result<..>>` from my remoting functions, but it doesn't seem to work, and I get a console error:
`Uncaught Error: Expected field create to have a return type of Async<'t>`, am I doing something wrong or is it not supported yet?

[2020-12-19 10:08] Zaid-Ajaj commented on #211
Can you please share how the protocol type looks like?

[2020-12-19 10:10] MargaretKrutikova commented on #210
Yes, thanks for clarifying 🙂 I am still trying to understand how everything hangs together, but it makes sense that the point of the library is that you don't need to worry about the underlying details, instead of trying to follow the rest api conventions.

[2020-12-19 10:10] #210 closed

[2020-12-19 10:23] MargaretKrutikova commented on #211
I think my environment was acting out and I didn't see the actual compile error 😆

It does work returning a result type and handling errors on the client, even though it returns http code 200 and the serialized error object in the body, and not 400 as per REST conventions. On the other hand, that's how GraphQL apis handle errors too, so that doesn't seem to be a problem. I think everything works n

[2020-12-19 10:23] #211 closed

[2020-12-19 10:27] Zaid-Ajaj commented on #211
No problem, glad to hear it is working for you!

[2021-01-01 21:54] MargaretKrutikova opened #213 "Example of writing integration test doesn't compile"
I am pretty sure a lot has changed since [this](https://zaid-ajaj.github.io/Fable.Remoting/src/dotnet-integration-tests.html) example of writing integration tests was written, I haven't managed to compile it even after making a lot of changes 🙂  Is there any way the example could be updated?

[2021-01-26 04:40] Nhowka opened #214 "Support transformation functions on transported data"
I'm tired of finding possible `NullPointerException` on the Java code reviews at my company. I want to show the joy of using a single language for front and backend, plus the magic of using Fable.Remoting to my team.

But we are in banking so it would be really cool if we could just add a function to encrypt the data before it goes to the server and another to decrypt it when the data arrives. On

[2021-02-02 08:56] saboco commented on #214
I'm curious why HTTPS/TLS is not enough?

[2021-02-02 18:31] Nhowka commented on #214
You can see the traffic on the developer tools on the navigator, so it's a point of attack if you borrow a device to check your balance. Having an end-to-end encryption helps on that case, if it is encrypted before sending, your password won't be in plaintext there.

[2021-02-04 08:47] Zaid-Ajaj commented on #214
Hi there @Nhowka I certainly like the idea and I think it would be doable (not sure about the API yet) but it seems to me that you already have a solution to make this work as is:

I tend to say if this is something that is already doable using a workaround like the above, then we wouldn't add it to the library because of the extra complexity, more public API functions and more maintenance.

Does

[2021-02-04 11:40] Nhowka commented on #214
I believed that no, I said that mostly to not worry about the server part and I wasn't thinking of that. It's just the client that I couldn't find a workaround to do the same.

But now I'm not sure if it would be a good idea to make the feature client only as it really would be easier to use if it had support on both ends. Intercepting the response to encrypt before sending to the client involves

[2021-02-04 12:49] Zaid-Ajaj commented on #214
Hmm implementing this on the browser client sounds very challenging 🤔 I am not a security expert but doesn't decryption on the browser means that secret keys are deployed on the users machine as well? or maybe you are thinking of a mobile app client side (since you used to work with Flutter)?

 In case of a mobile client whether that is Xamarin or Fabulous it might be doable because you can provid

[2021-02-04 13:41] Nhowka commented on #214
I was thinking in using it in the browser. We use a Diffie-Hellman key agreement to generate a AES key valid only for one session, so no need to deploy keys. Every session uses a different agreed key.

So I was thinking in simple `RequestBody -> RequestBody` function for encrypting the body and maybe `string -> string` for decrypting the json and `byte[] -> byte[]` for decrypting the binary case.

[2021-02-04 14:26] Zaid-Ajaj commented on #214
Are you thinking of having the library handle this exchange?

So I was thinking in simple RequestBody -> RequestBody function for encrypting the body and maybe string -> string for decrypting the json and byte[] -> byte[] for decrypting the binary case. Maybe just the byte[] -> byte[] could be enough to transform the body before being interpreted also as a string.

Providing two functions for mapp

[2021-02-04 15:47] Nhowka commented on #214
In that case, no. My idea would be doing that before creating the proxy, as I'd also need to use an extra header to signal the server which key agreement to use. Then I'd calculate the shared key and capture the key into a closure inside those functions to create the encrypt/decrypt flow.

I believe that just having those simple mappings where `id` fits would be enough to implement the feature on

[2021-02-05 12:48] saboco opened #216 "Problem with embeded Map type"
There is a problem with the lastest versions of Fable.Remoting.
With previous versions this kind of type was serialized/deserialized just fine:

[code]

In the latests versions this error is thrown:

[code]

I made a demo so it is maybe easier to debbug
https://github.com/saboco/test-fable-remoting
`main` branch contains a working version
`fable-remoting-last` branch contains the version that is n

[2021-02-05 13:03] Zaid-Ajaj commented on #216
Hi there, thanks a lot for the detailed report. I will have a look soon and see what went wrong 🙏

[2021-02-11 23:03] AntonioL opened #217 "withCredentials false does not work, still getting CORS related issues related to the fact that the request has credentials"
I am trying to send a request by setting withCredentials false otherwise I will hit CORS related issues.

The same request done via cURL works perfectly meaning that this only fails in browsers.

This is the error: https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Errors/CORSNotSupportingCredentials

I am using 7.2.0 version of Fable.Remoting.Client

Reproducible example:
[code]

[2021-02-12 10:35] AntonioL commented on #217
I worked around the issue on the server side amending the CORS Policy by allowing that origin.

[2021-02-12 10:36] AntonioL commented on #217
Closing the issue.

[2021-02-12 10:36] #217 closed

[2021-02-13 14:56] AlbertoDePena opened #218 "Revamp docs UI - no JS/CSS framework"
Hello @Zaid-Ajaj, hope all is well. I was hoping you could let me take a stab at adding things like terms of service, contact, etc to the docs UI, kind of like Swagger and ReDocs. This would allow for a more professional looking docs page and better chance for management to roll with this instead of Swagger/ReDocs. I looked in the Server folder and found the code for defining the docs... I couldn'

[2021-02-13 17:37] Shmew commented on #218
I don't have much to add, but [this](https://github.com/Zaid-Ajaj/Fable.Remoting/blob/master/Fable.Remoting.Server/DocsApp.fs) is where the docs are generated.

[2021-02-13 21:27] AlbertoDePena commented on #218
Yes, I totally missed it. I ma play with it and submit a PR. Maybe we can get rid of dependency on bootstrap and jQuery...

[2021-02-22 00:48] #216 closed

[2021-02-22 00:51] Zaid-Ajaj commented on #216
Hello @saboco, I just published a new batch of Fable.Remoting libraries that include the fix to this problem with `Map<Guid, T>`  :rocket: it should be resolved when update your Fable.Remoting.Giraffe package to latest (the problem was in Fable.Remoting.Json) can you please give it a go and let me know if it is resolved on your end of things? :smile:

[2021-02-22 00:53] Zaid-Ajaj commented on #218
Hi @AlbertoDePena I would love for the docs application to get a revamp. I made it quickly as a proof of concept and never really improved because it seemed like no one uses it (many people didn't know it was even there :smile:) so if you plan on improving it, that would be awesome! Let me know if you need pointers along the way :wink:

[2021-02-22 00:55] Zaid-Ajaj commented on #214
Is this still someone you want to implement? Please feel free to do so! As long as the API is explicit about what it does, then it should be fine

[2021-02-22 01:01] Zaid-Ajaj commented on #213
Hi @MargaretKrutikova, excuses for the late reply! In [this file](https://github.com/Zaid-Ajaj/Fable.Remoting/blob/master/Fable.Remoting.Giraffe.Tests/MiddlewareTests.fs) you can find the code that tests the dotnet client with the dotnet server which is the perfect example of integration tests (this repo is full of these) since it spins up a test server, runs a bunch of requests on it and asserts

[2021-02-22 10:47] Zaid-Ajaj commented on #205
@smoothdeveloper I will be closing this since the discussion is resolved and the specific issue (DataTable/DataSet support) has been fixed and added to the library :smile:

[2021-02-22 10:47] #205 closed

[2021-02-23 22:52] kspeakman opened #220 "Union type and CamelCasePropertyNamesContractorResolver"
I'm using Fable.Remoting.Json stand-alone. I wanted to emit JSON as camel case. I tried using the `CamelCasePropertyNamesContractorResolver` that is built into Newtonsoft, but union types which are emitted as properties still come out Pascal cased.

[code]

Example output:

[code]

If compatibility with `CamelCasePropertyNamesResolver` is not possible/desired, is there a setting on `FableJsonConve

[2021-02-23 23:10] Zaid-Ajaj commented on #220
Hi there @kspeakman, I don't think `FableJsonConverter` looks at the resolver at all, it just does everything as default. Surely, it is possible to extend `FableJsonConverter` with more options:
[code]
but the implementation would take a considerable amount of work (I think). Personally, I would rather not touch Fable.Remoting.Json when possible because it bring about a rabbit hole of edge cases a

[2021-02-23 23:23] kspeakman commented on #220
I understand. I need to re-evaluate STJ to see how far it has come along since I last looked at it. For brevity I omitted some things that I also use from Newtonsoft which I would need to replicate in STJ. For example, this makes Option types semantically mean that fields are optional and non-optional fields are required.

[code]

Anyway, I will see what I can do with STJ. I will eventually move t

[2021-02-23 23:33] #220 closed

[2021-03-02 12:21] danyx23 opened #221 "Float values with NaN lead to silent deserialisation errors on the client"
I just used Fable.Remoting in the standard current SAFE stack setup to request some values from the server. I later realized that some of the float values were NaN values on the server side but was scratching my head for some time because in the network tab in the browser I saw a successful response as expected but then I never got the success message of the `Cmd.OfAsync.perform ` style command th

[2021-03-02 12:27] Zaid-Ajaj commented on #221
Hi there @danyx23, thanks for reporting the issue. If you say, the client is failing to deserialize the values, then the issue is probably upstream in [Fable.SimpleJson](https://github.com/Zaid-Ajaj/Fable.SimpleJson)  the client uses underneath for deserialization. I have will have a look and let you know of my findings

[2021-03-02 13:16] #221 closed

[2021-03-02 13:17] Zaid-Ajaj commented on #221
Can you update `Fable.Remoting.Client` from v7.2 to v7.3 and confirm that the issue is fixed? Thanks :smile:

[2021-03-06 11:31] danyx23 commented on #221
Hi @Zaid-Ajaj, yes, issue fixed. Thanks a lot!

[2021-03-06 12:27] Zaid-Ajaj commented on #221
Awesome! Thanks for letting me know 🙏  btw you can upgrade Remoting.Client to v7.4 which fixed another issue with nuget that you may or may not have  but just in case 😉

[2021-03-11 16:11] TitusRie opened #224 "Making the API to return (also) XML (instead of JSON)"
I'm trying to setup a service based on the SAFE.Simplified template, which is of course consumed by the Fable client, but also by a seperate C# dotnet application which wants XML format.

Setting the request Accept header to application/xml (in the dotnet app) didn't seem to work.

Looking at the saturn [documentation](https://saturnframework.org/reference/Saturn/saturn-controllerhelpers-controlle

[2021-03-11 16:19] Zaid-Ajaj commented on #224
Hi there @TitusRie, unfortunately Fable.Remoting does not support data transport in XML. Only JSON and MsgPack are supported. This has to do with how complicated the implementation would be across the stacks. There aren't any plans to implement XML support in Fable.Remoting.

This brings to the question: why does your C# application _require_ XML? Using the package `Fable.Remoting.DotnetClient` al

[2021-03-11 18:32] TitusRie commented on #224
Hi @Zaid-Ajaj, digging into the subject I'm starting to understand the complications...
Using `Fable.Remoting.DotnetClient` would of course be a good alternative, the only thing is the service needs to comply with standards which require XML format.
Maybe a separate Saturn controller for supplying XML is an option in this case. Of course missing out the nice Fable client integration and automatic

[2021-03-11 19:03] kerams commented on #224
Whether you use the Fable client or DotnetClient, the transport and serialization is hidden away (that's the primary selling point of Remoting after all) to the point that you can (almost) forget it is there.

If you're going to consume the API and deserialize it manually somewhere (those archaic contexts you speak of), then I'm not sure using Remoting on the server alone makes much sense (it migh

[2021-03-11 20:09] TitusRie commented on #224
@kerams I completely agree, in this case I'm in a hybrid scenario, where I would love to leverage joy of the magic 'click' of remoting with client and server and at the same time comply with archaic XML standards (which obviously would naturally migrate towards JSON in due time). I also love the [type-safe documentation](https://zaid-ajaj.github.io/Fable.Remoting/src/docs.html) functionality, to d

[2021-03-11 20:25] Zaid-Ajaj commented on #224
@TitusRie just a heads-up if you are using SAFE.Simplified, the client is still using Fable 2.x (latest is Fable 3) and some packages might need an update (Feliz, Feliz.Router, Fable.Remoting and co etc.) I need to update the packages at some point, you can look at the more modern [SAFE.React](https://github.com/Zaid-Ajaj/SAFE.React) for reference, although it is more Feliz-centric than full fledg

[2021-03-11 20:27] Zaid-Ajaj commented on #224
About the shared implementation. That sounds like a good compromise. I am not sure how to do it, but you could expose a SwaggerUI of your XML-retuning endpoints and it will probably be nicer than the the simple generated docs application 😉

[2021-03-11 20:29] kerams commented on #224
Sure, having a Remoting endpoint with JSON and a Saturn router with XML side-by-side calling into the same business logic is certainly a good strategy. Especially if they're both lean and all they do is remap objects. You'll still have to set up XML serialization on your own, but you have an easy migration when you move forward.

If, on the other, you're thinking of trying to put the router in fro

[2021-03-12 07:28] sergey-tihon opened #225 "Add Fable.Remoting.NodeClient"
Would be nice to have client library for `Fable.Remoting` that work in Node.js.

One of use cases is the communication with API from vscode extension written with Fable and hosted in [a Node.js process in VS Code](https://code.visualstudio.com/api/advanced-topics/extension-host).

If/when someone decide to contribute client library for Node.js would be nice to have approved transport library.
What

[2021-03-12 09:01] MangelMaxime commented on #225
Hello, I think one of most popular http library is [axios](https://github.com/axios/axios) the minified version of the library is 15kb.

[2021-03-12 09:15] Zaid-Ajaj commented on #225
Hi @sergey-tihon I always wanted a reason to have this implemented, now there is one 😄 as for the underlying HTTP client, the priority goes to the built-in client so that we have the least amount of dependencies unless other 3rd-party libraries make our lives easier.

I can't promise a timeline for this but I do want to have it at some point as part of the stack

[2021-03-12 10:22] TitusRie commented on #224
@Zaid-Ajaj, @kerams, thanks a lot!
I love Feliz, so the SAFE.React template looks like a good solution. I also was already very happy with the simple generated docs, but the SaggerUI sounds like a good alternative.
And thank you for saving me a lot of digging around!
As soon as I've made a sort of decent solution, I'll share it.
For now I think it's ok to close this issue.

[2021-03-12 10:22] #224 closed

[2021-03-12 10:23] Zaid-Ajaj opened #226 "Update TypeShape 8.0.1 -> 9.0.0"
Some weird _FATAL_ runtime error occurs with TypeShape and it happens only on deployed application in azure (assuming it is running net5.0) but works locally just fine using either -c Debug or -c Release

[code]
So I am thinking it might have to do with TypeShape using an old reflection API so I think we should update it to latest 9.0.0 just in case. What do you think, @kerams?

[2021-03-12 10:34] kerams commented on #226
That is really weird. Updating is certainly worth a shot, it won't hurt anything. However, TypeShape isn't pinned to a major version, are you sure you're not already deploying your application with v9?

[2021-03-12 10:44] Zaid-Ajaj commented on #226
You are right @kerams it [looks like it](https://github.com/SAFE-Stack/SAFE-template/blob/5d486156a429819b3804518e57b1b69a4b31e7e5/Content/default/paket.lock#L384) this is just paket lock from the SAFE template. Maybe that's the problem

[2021-03-12 10:47] kerams commented on #226
https://github.com/eiriktsarpalis/TypeShape/commit/a8be8c77f0719e557b3c7ead2a62b8b23f80758b#diff-6a7780a357a197c700a5c9acdacd22efa6ea59e35cfb542b4ad370acf8766565R147-R151
This has been added in v9 and according to the call stack you're hitting the `#else` branch for some reason. Maybe ask Eirik if he has any idea what's up?

In the meantime, I'm sure locking into v8 will help you.

[2021-03-12 10:52] Zaid-Ajaj commented on #226
Yeah I was talking to @isaacabraham about it (he reported the issue) and I think we should either update TypeShape to 9.0.0 or set better version constraints to say TypeShape should be >= 8.0.1 && < 9.0.0

[2021-03-12 11:47] sergey-tihon commented on #225
@MangelMaxime axios looks interesting, because it works inside nodejs process and in the browser.

@Zaid-Ajaj is it an option to port fable client on top of axios? Or 15kb is a large footprint and you prefer to have separate package for nodejs?

[2021-03-12 11:59] Zaid-Ajaj commented on #225
The size is not so much the problem here but the fact that users have to remember to install another package in order to use Fable.Remoting.Client which I would rather avoid.

[2021-03-12 14:11] eiriktsarpalis commented on #226
@Zaid-Ajaj could you share the full stacktrace?

[2021-03-12 14:15] eiriktsarpalis commented on #226
Are you consuming TypeShape using the nuget package or by embedding its source file? The former only targets netstandard2.0 which uses the workaround referenced in https://github.com/eiriktsarpalis/TypeShape/commit/a8be8c77f0719e557b3c7ead2a62b8b23f80758b#diff-6a7780a357a197c700a5c9acdacd22efa6ea59e35cfb542b4ad370acf8766565R147-R151

[2021-03-12 15:25] christoph-feb22 opened #227 "MsgPack DateTime timezone unsupported"
Hi there,

I'm using Fable.Remoting.MsgPack serialization. In the server we specify our DateTime objects with kind UTC. After sending them through Remoting to the client, the timezone kind is no longer UTC.

After checking the implementation I noticed that the transfered ticks are passed into the DateTime contstructor without any timezone kind. If I understand it correct, there is no possibility t

[2021-03-12 15:36] Zaid-Ajaj commented on #227
Hi there @christoph-feb22, I will have a look it at. Right now, you can try using `DateTimeOffset` instead which should carry timezone offset correctly. Will keep you posted

[2021-03-12 15:56] christoph-feb22 commented on #227
Hi @Zaid-Ajaj, thank you for the fast response. I will try to use DateTimeOffset.

[2021-03-13 14:35] Zaid-Ajaj commented on #226
@eiriktsarpalis The stack trace was posted in [TypeShape/#45](https://github.com/eiriktsarpalis/TypeShape/issues/45). Do you recommend to use the source file or the nuget package v9?

[2021-03-13 19:40] kerams commented on #227
@Zaid-Ajaj, I'll gladly take care of this if you haven't already started and don't feel like doing it.

[2021-03-13 20:40] Zaid-Ajaj commented on #227
@kerams I gave it ago because I wanted to learn a bit more about the MsgPack implementation 😄 would be great if you could have a look at the PR at #228 🙏

[2021-03-13 22:05] #226 closed

[2021-03-13 22:05] #227 closed

[2021-03-13 22:40] Zaid-Ajaj commented on #227
Hi @christoph-feb22 this issue should be fixed as of latest clients and backend adapters
 - Fable.Remoting.Client v7.6.0
 - Fable.Remoting.DotnetClient v3.13.0
 - Fable.Remoting.Server v5.15
 - All adapters that depend on Server v5.15

Please update both your client _and_ backend packages. Would be if you could confirm that the problem is resolved 😄

[2021-03-15 07:07] christoph-feb22 commented on #227
Hi @Zaid-Ajaj, thank you very much for your incredible fast solution. It works like a charm!

[2021-03-15 23:15] Numpsy commented on #218
Hi,

I've barely used Fable.Remoting so far (only just started experimenting with it) so I can't comment much about the UI, but a possible small observation -

The DocsApp.fs linked above seems to be referencing jQuery 3.3.1. A product I work on recently had a security warning (from Whitesource) about CVEs in older jQuery versions, which makes me wonder if it should be updated to use 3.5.1 or 3.6

[2021-03-15 23:18] Zaid-Ajaj commented on #218
Hi @Numpsy that sounds like an enhancement for the next version of the docs app. It can be easily updated so I will keep it mind for next time. Thanks for pointing it out!

[2021-03-17 23:12] saboco commented on #216
Sorry, I wasn't notified on this!!! I'm in parental leave right now, so mostly taking care of my child, I'll check this as soon as I'm back to work (on 8 April).

[2021-03-17 23:54] Zaid-Ajaj commented on #216
Don't worry about it @saboco family comes first of course! 😄

[2021-03-18 03:41] AlbertoDePena commented on #218
@Zaid-Ajaj I am 85% done with a new UI. I'm working on some good coloring, maybe like the way fable.io looks. Fyi, I am not planning on using any JS/CSS framework. Just simple vanilla JS and mobile friendly. I question I have... Would you prefer to embed the html file in the remoting library or just hard code the content of the html the way it's done currently?

[2021-03-18 09:25] Zaid-Ajaj commented on #218
@AlbertoDePena that sounds awesome 😍 looking forward to see the good stuff!

Let's start with embedding the page hardcoded in the library like it is now and improve it later on depending on how complicated / configurable the docs app becomes

[2021-03-18 09:50] Zaid-Ajaj opened #229 "Documentation for integrating different authentication and authorization techniques"
Based on feedback from users, it can be really tricky to secure a remoting API, whether that deals with an internal security system or one that integrates a third-party into the mix such as Azure active directory or Auth0.

Currently the documentation only scratches the surface where you can see that you the remoting building has access to the `HttpContext` which in turn has access to the context

[2021-03-18 10:12] kerams commented on #229
I'm rolling my own dead simple, cookie-based, internal system.

I have an auth Remoting handler with a login method that takes credentials as input and sets the session cookies if authentication succeeds. Then each Remoting method that needs to be secured uses a higher order function that checks the validation. It looks something like this:

[code]

[2021-03-18 10:13] JamesRandall commented on #229
I've integrated it with Saturn and "raw" ASP.Net Core both with a Fable client. I've got an end of March deadline but once that's clear happy to have a go at some write ups.

[2021-03-18 10:14] Dzoukr commented on #229
I can provide examples of:
Fable.Remoting on Frontend
Fable.Remoting on Backend (using Giraffe)
ASP.NET auth using JWT token (custom generated)

Is that what you would appreciate?

[2021-03-18 10:18] Dzoukr commented on #229
@Zaid-Ajaj  Can I pull request to (newly created) "Examples" folder?

[2021-03-18 10:55] Zaid-Ajaj commented on #229
@kerams This is a great example of a simple implementation. I think it is the same of what @Dzoukr is suggesting?

@JamesRandall That would be super awesome! Many people are using Saturn ootb so an example integration is certainly more than welcome. No hurry of course

As for the actual guides, I am really hoping for guides that walk people through the different criteria and choices:
 - Criteria:

[2021-03-18 11:10] Dzoukr commented on #229
@Zaid-Ajaj would you like some more advanced example with sending errors as HTTP 4xx errors, custom Fable.Remoting error handler, using local storage for tokens, etc... ?

[2021-03-18 11:12] Zaid-Ajaj commented on #229
@Dzoukr The more docs, the better IMO so it is really up to you 😉

[2021-03-18 14:39] absolutejam commented on #229
I'm weirdly excited about this 😄

I've been implementing JWT auth in Saturn and it's been a big learning curve, but I _think_ I now have it in a good place... However, I'm going to wait and see what comes from this before I settle on that opinion or release any code 😅

[2021-03-18 15:32] Numpsy opened #231 "Out of date C# client usage example?"
Hi,

I've been having a go at dropping a simple remoting client into an existing C# service (as an experiment in something that currently uses NSwag/REST clients).

When I tried to add the proxy calls as described in https://github.com/Zaid-Ajaj/Fable.Remoting/blob/master/documentation/src/dotnet-csharp.md, e.g.

[code]

It fails to build because ```CreateFromBuilder``` also requires an ```isBinar

[2021-03-18 19:58] Zaid-Ajaj commented on #231
Hi @Numpsy thanks for pointing it out, yeah the docs are a bit outdated in this case. I kinda hoped we could solve it by making `isBinarySerialization` an optional parameter but it is a module function :/

[2021-03-22 21:12] srid commented on #3
What's the relation between `Elmish.Bridge` and `Fable.Remoting`? Are they exclusive from one another? Or can the latter use the former to provide websocket transport?

[2021-03-22 22:52] pkese commented on #3
@srid They are mostly orthogonal. You can use one or the other or both.

If you have an asynchronous Elmish app on server and if it needs to communicate state back to client, then Elmish.Bridge is worth considering.
And it fits really nicely into Elmish architecture.

[2021-03-23 00:30] AlbertoDePena commented on #218
@Zaid-Ajaj I tried to submit a PR but looks like I am not cool enough haha. Here is the new content to be used in the `DocsApp.fs` file, `let app = "..."`

Now you only need to call `DocsApp.embedded` with just the `url` and `poor man's view engine` need to be updated to:

[code]

[code]

[2021-03-23 00:32] AlbertoDePena commented on #218
@Zaid-Ajaj one more thing... I notice that one cannot  provide examples for API methods like this one:

[code]
but a method like this works:

[code]

Are examples not supported for complex types?

[2021-03-23 09:09] kerams commented on #3
Nowadays there's also https://github.com/Shmew/Fable.SignalR, but SignalR is much fatter than some simple WebSocket communication layer.

[2021-03-23 20:34] Zaid-Ajaj commented on #218
Hi @AlbertoDePena I can test this soon when time permits!

I am wondering though, why can't you open a PR, it should be pretty simple 😄?

[2021-03-23 21:23] AlbertoDePena commented on #218
I pulled from master branch... I'll try again tonight. Could be my Linux setup... :)

[2021-03-24 01:40] AlbertoDePena commented on #218
@Zaid-Ajaj, not sure what's going on but I get "Access denied" when pushing my branch upstream... Either way, when you have time the embedded docs UI has been updated. Making pretty pages is not my thing so if someone else wants to take a shot at it, be my guest. The main thing was to remove dependencies on CSS/JS framework.

[2021-03-24 08:55] dnperfors opened #232 "Allow configuring custom json serializer"
In a project I am working on, I already have configured a json serializer for serializing custom types to json for storage. I would like to use the same serializer, or at least the JSON Converters to serialize my custom types on the server site of Fable.Remoting as well. I didn't find any way to configure this. Is it something that could be added?

[2021-03-24 09:19] Zaid-Ajaj commented on #232
Hi @dnperfors, if I understand correctly you want to your own serializers inside of Fable.Remoting to handle the JSON conversions. Currently there isn't a way to customize the JSON handling because the clients of Fable.Remoting expect the server to use the built-in serializer and not some custom one, otherwise things will randomly break.

There aren't any plans to add this possibility because maki

[2021-03-24 10:05] Numpsy commented on #218
Are you trying to push to your own fork or this one?

[2021-03-24 10:15] dnperfors commented on #232
@Zaid-Ajaj, I understand your positions.

I had some problems with handling some custom date / time types, but it looks like that was mostly on my side... Besides that, I need to remember that I don't use Fable.Remoting for REST API's, where I expect certain formattin :wink:

[2021-03-24 10:15] #232 closed

[2021-03-24 15:49] AlbertoDePena commented on #218
@Numpsy,

I cloned master, created a branch from master then tried to push to my created branch.

[2021-03-30 21:49] Shmew opened #235 "MsgPack invalid casting"
I'm encountering an exception when initializing the .NET MsgPack serializer. I tried finding where this casting is happening, but no luck. The exception on my end is happening [here](https://github.com/Shmew/Fable.SignalR/blob/master/src/Fable.SignalR.Shared/MsgPack.fs#L32). I'm having trouble properly reproducing the exception as it isn't happening in my actual repo (I tried both updating and dow

[2021-03-30 22:02] kerams commented on #235
Do Details contain the call stack?

[2021-03-31 16:27] Shmew commented on #235
![image](https://user-images.githubusercontent.com/11186595/113178208-f9ec9f00-9213-11eb-9381-aaeea3989969.png)

![image](https://user-images.githubusercontent.com/11186595/113178049-cc9ff100-9213-11eb-98f1-67d016cf0c7d.png)

[2021-04-02 14:31] Shmew commented on #235
As we discussed in the issue on my repo, we have this resolved. @kerams do you want me to leave this open until there's a better error message? If not feel free to close the issue.

Thanks!

[2021-04-04 12:12] sergey-tihon commented on #225
For my use case I implemented API client for Node.js manually
https://github.com/sergey-tihon/vscode-openxml-explorer/blob/main/src/extension/Remoting.fs

on top of Fable.Axios updated to Fable 3
https://github.com/sergey-tihon/vscode-openxml-explorer/blob/main/src/extension/Fable.Axios.fs

and [opened issues](https://github.com/gamurs-group/fable-axios/issues/1) to update [Fable.Axios NuGet packa

[2021-04-04 20:09] #235 closed

[2021-04-04 20:13] Zaid-Ajaj commented on #225
if that works for you then all good but just keep in mind that writing `axios.post<Document>` _won't_ perform proper deserialization and is just saying "please treat this as if it was a `Document`" so if you have complex fields in your `Document` type such as unions or maps, they might not really work

[2021-04-04 20:20] sergey-tihon commented on #225
ok, thank you, I all take a look at proper deserialization (when it breaks 😉 )

[2021-04-04 20:26] Zaid-Ajaj commented on #225
Fable.Remoting.Client uses Fable.SimpleJson for JSON handling and deserialization and it should on nodejs without any dependency

[2021-04-07 01:33] zelenij commented on #229
This example seems like a great starting point, but I don't think it would compile in real life. At least there is an inconsistency in onSecuredAPI usage, as it seems to me.  Maybe a better option is to create a self contained sample project?

[2021-04-12 15:17] Numpsy commented on #218
I expect that you'll need to create your own fork of the repo and make a branch on that in order to make a PR for it?

[2021-04-14 18:09] saboco commented on #216
finally I got to test this, it's working flawless! Thank you very much for you impressive work!
See you on twitch!

[2021-04-15 13:56] AlbertoDePena commented on #218
Here is what it would look like. FYI =)

![image](https://user-images.githubusercontent.com/21039851/114881165-5df09500-9dc8-11eb-823d-131ed3ec5c0c.png)

[2021-04-15 17:45] AlbertoDePena commented on #218
@Zaid-Ajaj I still dont know why examples cant be provided for complex types... am I missing something? =/

[2021-04-15 23:31] Numpsy commented on #218
I haven't tried anything past the very basics yet, but I did get this to work (the input to the function is a list of records):

![image](https://user-images.githubusercontent.com/1178570/114948147-6091cf80-9e46-11eb-9b11-d5ca649bd608.png)
which I would count as a complex type, if that's what you mean?

[2021-04-16 13:14] AlbertoDePena commented on #218
@Numpsy anything special about your records? Also, have you tried just one record as input instead of multiple? Thanks for looking into it =)

[2021-04-16 13:19] AlbertoDePena commented on #218
@Numpsy @Zaid-Ajaj just kidding... I updated to latest version and now "complex" types work =)

[2021-04-17 16:34] Zaid-Ajaj commented on #218
I just tried out the new docs app and it looks sooo much better 😍 thanks a lot @AlbertoDePena  🙏  I already published a new batch of Fable.Remoting packages that include the new docs. Please update to latest and give it a try 😉

![remoting-docs](https://user-images.githubusercontent.com/13316248/115119964-3dccfb80-9fab-11eb-991c-fd970edeef4e.gif)

I will look into ways for customizing the docs: ad

[2021-04-17 16:34] #218 closed

[2021-04-28 10:49] Numpsy opened #241 "Adding documentation for functions with multiple parameters?"
Hi,

Say that I have this example from the documentation:

[code]

I tried plugging in documentation entries for that, and got:

![image](https://user-images.githubusercontent.com/1178570/116388299-96a25c80-a813-11eb-9f2b-0d302816b54d.png)

Should that work, or am I doing something silly?

Thanks

[2021-04-28 10:52] Numpsy commented on #199
Hi,
fwiw, I tried it with the latest version using

[code]

and

[code]

and that seems to work ok:

![image](https://user-images.githubusercontent.com/1178570/116392216-15999400-a818-11eb-9238-72a5edb9406b.png)

[2021-04-28 11:27] Zaid-Ajaj commented on #241
Not sure why it won't compile 🤔 generally if you many arts, using a record with named fields will much better since you can what is what more clearly

[2021-04-28 11:58] Numpsy commented on #241
Yes, I have that approach working seperately (with a pattern of TRequest -> Async<TResponse>), I just wasn't sure if this approach was supposed to work or not

Thanks

[2021-05-13 23:56] Zaid-Ajaj opened #244 "MsgPack: converting types that contain char fails"
While I was updating remoting client to include the fix of char deserialization issue at [Fable.SimpleJson/#71](https://github.com/Zaid-Ajaj/Fable.SimpleJson/issues/71) I added a test for `IBinaryServer` and it failed the following test that deals with `char`
[code]
@kerams Could you maybe please have a look at the problem 🙏 ? if you don't have time, I could pick it up at some point soon

[2021-05-20 08:21] Ryan-Palmer-CIT commented on #229
I have two blogs up where I integrate AD with a SAFE app if they are any use https://www.compositional-it.com/news-blog/tag/safe-ad-auth/

[2021-05-31 10:18] bklop opened #249 "Regression in Fable.Remoting.Client 7.9 causing XMLHttpRequest errors to be ignored"
Commit 4cd23641182ca82e27dfafa25dc827295840b28b added support for cancellation, but also checks for `xhr.status <> 0` which causes it to swallow any `XMLHttpRequest` errors.

In practice this means that client code such as this (using Elmish here as an example)

[code]
will never dispatch a SomethingError msg in case of a network error (for example, a lost connection). This is breaking application

[2021-06-01 19:45] Zaid-Ajaj commented on #249
Hi there @bklop thanks for filing the issue, this is interesting because I thought [this test](https://github.com/Zaid-Ajaj/Fable.Remoting/blob/master/ClientV2Tests/src/App.fs#L568) would make sure we are throwing proper errors 🤔 so is this only when status code = 0? (i.e. cors/connectivity error)

[2021-06-01 19:56] bklop commented on #249
Yeah exactly. I'm not sure why `xhr.status <> 0` was added in that commit, shouldn't it be sufficient to check for `ReadyState.Done && not token.IsCancellationRequested`?

[2021-06-01 20:09] Zaid-Ajaj opened #250 "Include TypeShape sources in the MsgPack"
Include TypeShape sources in the MsgPack package (dotnet only)

Might be able to remove the sources from the `Server` package if the implementation is available in MsgPack

_Originally posted by @kerams in https://github.com/Zaid-Ajaj/Fable.Remoting/issues/228#issuecomment-852213093_

[2021-06-01 20:26] #249 closed

[2021-06-01 20:26] Zaid-Ajaj commented on #249
Done! The fix should be available in v7.11 🚀

[2021-06-03 10:01] Zaid-Ajaj commented on #244
Fixed by #245 and included in Fable.Remoting.MsgPack as of v1.10.0

[2021-06-03 10:01] #244 closed

[2021-06-03 10:02] Zaid-Ajaj commented on #241
Hi @Numpsy is this issue still valid? can you please give it another go with latest packages?

[2021-06-03 12:36] Zaid-Ajaj commented on #250
Fixed by #252

[2021-06-03 12:36] #250 closed

[2021-06-03 15:13] Numpsy commented on #241
I'll give it a try later.

[2021-06-08 13:41] runefs opened #253 "Fable.Remoting and kubernetes results in 404"
I have a docker container with the Giraffe example running inside it. The container is deployed in a kubernetes pod. If I request it from another pod in the cluster or if I forward the container port to localhost and request it I get Api 404. However if I run the same application locally it works as expected

[2021-06-08 21:11] Zaid-Ajaj commented on #253
Hi there @runefs, I am not familiar with kubernetes so I am not sure how to debug this. Can you please confirm that this indeed a Fable.Remoting issue? For example, if you have a normal Giraffe route next to the handler of remoting, can you still reach it?

[2021-06-09 04:50] runefs commented on #253
Of that I am positive. I stubbled upon this in the process of rewriting a REST API to use Fable.Remoting instead. Could it have something to do with the bind address being different than the requested? Ie the bund address is 0,0,0,0:8085 but is accessed through http://kubernetes-service-name:8085. This does work for giraffe in general

[2021-06-09 08:37] Zaid-Ajaj commented on #253
Fable.Remoting creates Giraffe handlers so I would assume it works here too.

That said, if you could provide a sample to reproduce the problem, that would be great! I can try to spin up local kubernetes thingy and see what going on. (never that before though, so that might take a bit)

[2021-06-09 20:13] runefs commented on #253
It took me forever to recreate a small sample to reproduce the problem. There was however a straightforward reason for why it took so long. There's no issue. I had inadvertently changed the binding address from 0.0.0.0 to localhost (copy-paste of example code I guess). binding to localhost doesn't work in a container. However, when I tried to run it locally it did of course work and I must have te

[2021-06-09 20:13] #253 closed

[2021-06-14 07:39] tforkmann opened #257 "Error in BinarySerialization"
Hi there,

i get following issue with the BinarySerialization:

exn Error: Position 441, byte 201, expected type Byte.

The error is probably coming from this patter match.

https://github.com/Zaid-Ajaj/Fable.Remoting/blob/f04255c7cb8c8c3316d1730c12c1a570975281cb/Fable.Remoting.MsgPack/Read.fs#L441

Any idea how to fix that?

When I get rid of BinarySerialization Fable.Remoting works well.

Thanks

[2021-06-14 07:59] kerams commented on #257
I'd have to see the response type you're trying to serialize. Also make sure your client _and_ server are using the same Fable.Remoting.MsgPack version.

[2021-06-14 08:30] tforkmann commented on #257
Both client and server using Fable.Remoting.MsgPack 1.12
I reduced the qty of rows. Please find the msg attached.
The error appears looks like this now:
exn Error: Position 753, byte 201, expected type Byte.

Here response type:

[code]

The msg is quite big.
[msg.txt](https://github.com/Zaid-Ajaj/Fable.Remoting/files/6646725/msg.txt)

[2021-06-14 09:06] kerams commented on #257
Thanks, found the problem. Fix incoming.

[2021-06-14 10:49] Numpsy commented on #241
Hi,
It still looks the same to me using Fable.Remoting.AspNetCore 2.22.0 (this is using the AspNetCore bits directly, so no Giraffe etc, for the record.)

[2021-06-14 11:23] #257 closed

[2021-06-14 12:16] tforkmann commented on #257
Awesome!! Works

[2021-06-17 06:54] tforkmann opened #259 "Error in BinarySerialization - Cannot serialize Exception"
Error msg:
[code]

Here response type:

[code]

Transfered Msg is a PlantWithHeartBeat array

The msg is quite big.
[msg2.txt](https://github.com/Zaid-Ajaj/Fable.Remoting/files/6667995/msg2.txt)

[2021-06-17 06:58] kerams commented on #259
Well, `Exception` is not supported (does it work with JSON?). You might have to define an explicit DU for the error types or just use a string.

[2021-06-17 07:02] tforkmann commented on #259
There is no error in the data. It is just a array. The exception only appears if I add in binarySerialization. It work very without binarySerialization.

[2021-06-17 07:09] kerams commented on #259
MsgPack constructs a serializer for the entire model at first, while JSON (I believe) only works off the current message. What happens in JSON if you include `CurrentPiStatus.IsStopped`, where I assume the exception is nested? We might be able to implement it, but the exception type information would be lost, you'd just have the message, and I think that would possibly be worse than nothing. Inher

[2021-06-17 07:57] Zaid-Ajaj commented on #259
@tforkmann can you share the type of ClientError? If it has an Ezception type there, it won't work, even with JSON. The reasoning is that exceptions shouldn't be transferred over the network, especially when some of them might contain sensitive data

[2021-06-17 11:37] tforkmann commented on #259
@Zaid-Ajaj  I'm getting following error msg from the Client

[code]

[2021-06-17 11:41] Zaid-Ajaj commented on #259
👆

👆

[2021-06-17 11:59] tforkmann commented on #259
[code]
JSON still works even with if I set `CurrentPiStatus.IsStopped (ChannelError (ErrorCode.ConnectionFailure ))`